Repository kafbat/kafka-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kafbat/maintainers, @kafbat/backend, @kafbat/frontend, @kafbat/qa, @kafbat/devops

.github/CODEOWNERS:

*                           @kafbat/maintainers


# BACKEND
/pom.xml                    @kafbat/backend
/contract/                  @kafbat/backend
/api/                       @kafbat/backend
/serde-api/                 @kafbat/backend
/documentation/compose/     @kafbat/backend

# FRONTEND
/frontend/                  @kafbat/frontend

# TESTS
/e2e-tests/                 @kafbat/qa

# INFRA
/.github/workflows/         @kafbat/devops

Fixed test issues
  frontend/src/components/Connect/List/ListPage.styled.ts
  frontend/src/components/Connect/List/__tests__/ListPage.spec.tsx
Owners: @kafbat/frontend

feat: implement deleteConsumerGroupOffsets
  api/src/main/java/io/kafbat/ui/controller/ConsumerGroupsController.java
  api/src/main/java/io/kafbat/ui/service/ConsumerGroupService.java
  api/src/main/java/io/kafbat/ui/service/ReactiveAdminClient.java
Owners: @kafbat/backend

feat: add a dropdown button to the topic table on the Consumer Group page for deleting offsets.
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  frontend/src/components/ConsumerGroups/Details/ListItem.tsx
  frontend/src/lib/hooks/api/consumers.ts
Owners: @kafbat/backend, @kafbat/frontend

fix: Throw NotFoundException when TopicPartition set is empty
  api/src/main/java/io/kafbat/ui/service/ReactiveAdminClient.java
Owners: @kafbat/backend

tests: add test cases for deleting consumer group offsets
  api/src/test/java/io/kafbat/ui/KafkaConsumerGroupTests.java
Owners: @kafbat/backend

style: resolve lint issues
  api/src/test/java/io/kafbat/ui/KafkaConsumerGroupTests.java
  frontend/src/components/ConsumerGroups/Details/ListItem.tsx
Owners: @kafbat/backend, @kafbat/frontend

Auth: Support Azure Entra (Event Hub with Kafka Protocol) (#530)
  api/pom.xml
  api/src/main/java/io/kafbat/ui/config/auth/azure/AzureEntraLoginCallbackHandler.java
  api/src/main/java/io/kafbat/ui/config/auth/azure/AzureEntraOAuthBearerToken.java
  api/src/test/java/io/kafbat/ui/config/auth/azure/AzureEntraLoginCallbackHandlerTest.java
  api/src/test/java/io/kafbat/ui/config/auth/azure/AzureEntraOAuthBearerTokenTest.java
  frontend/src/lib/constants.ts
  frontend/src/widgets/ClusterConfigForm/schema.ts
  frontend/src/widgets/ClusterConfigForm/utils/getJaasConfig.ts
  frontend/src/widgets/ClusterConfigForm/utils/transformFormDataToPayload.ts
Owners: @kafbat/backend, @kafbat/frontend

Polishing
  api/src/main/java/io/kafbat/ui/config/auth/azure/AzureEntraLoginCallbackHandler.java
  api/src/main/java/io/kafbat/ui/config/auth/azure/AzureEntraOAuthBearerToken.java
Owners: @kafbat/backend

BE: Chore: Polishing
  api/src/main/java/io/kafbat/ui/config/auth/azure/AzureEntraLoginCallbackHandler.java
  api/src/main/java/io/kafbat/ui/config/auth/azure/AzureEntraOAuthBearerToken.java
Owners: @kafbat/backend

BE: RBAC: Ignore values for non-applicable resources
  api/src/main/java/io/kafbat/ui/model/rbac/AccessContext.java
Owners: @kafbat/backend

Remove dependency with problematic frame
  api/pom.xml
Owners: @kafbat/backend

fix set PostgreSqlPath
  api/src/main/java/io/kafbat/ui/service/integration/odd/ConnectorInfo.java
Owners: @kafbat/backend

Fix: SIGSEV in docker container on ARM64 (#558)
  api/pom.xml
Owners: @kafbat/backend

BE: Make gh version check timeout configurable
  api/src/main/java/io/kafbat/ui/service/ApplicationInfoService.java
  api/src/main/java/io/kafbat/ui/util/GithubReleaseInfo.java
  api/src/test/java/io/kafbat/ui/AbstractIntegrationTest.java
  api/src/test/java/io/kafbat/ui/service/ApplicationInfoServiceTest.java
  api/src/test/java/io/kafbat/ui/util/GithubReleaseInfoTest.java
Owners: @kafbat/backend

FE: Fix refetching data on window focus (#380)
  frontend/src/components/Schemas/Edit/Edit.tsx
  frontend/src/components/Topics/Topic/Edit/Edit.tsx
  frontend/src/lib/constants.ts
  frontend/src/lib/hooks/api/__tests__/schema.spec.ts
  frontend/src/lib/hooks/api/__tests__/topics.spec.ts
  frontend/src/lib/hooks/api/schemas.ts
  frontend/src/lib/hooks/api/topics.ts
Owners: @kafbat/frontend

BE: Make gh version check timeout configurable
  api/src/test/java/io/kafbat/ui/AbstractIntegrationTest.java
  api/src/test/java/io/kafbat/ui/service/ApplicationInfoServiceTest.java
Owners: @kafbat/backend

BE: Make gh version check timeout configurable (#518)
  api/src/main/java/io/kafbat/ui/service/ApplicationInfoService.java
  api/src/main/java/io/kafbat/ui/util/GithubReleaseInfo.java
  api/src/test/java/io/kafbat/ui/AbstractIntegrationTest.java
  api/src/test/java/io/kafbat/ui/service/ApplicationInfoServiceTest.java
  api/src/test/java/io/kafbat/ui/util/GithubReleaseInfoTest.java
Owners: @kafbat/backend

allow development behind proxy
  .mvn/jvm.config
  api/pom.xml
  contract/pom.xml
  pom.xml
Owners: @kafbat/maintainers, @kafbat/backend

Fix CORS headers on error handling (#555)
  api/src/main/java/io/kafbat/ui/config/CorsGlobalConfiguration.java
  api/src/main/java/io/kafbat/ui/exception/GlobalErrorWebExceptionHandler.java
Owners: @kafbat/backend

Fix CORS problem in case of OPTION requests on read only topics (#555)
  api/src/main/java/io/kafbat/ui/config/ReadOnlyModeFilter.java
Owners: @kafbat/backend

Fix CORS header configs (#555)
  api/src/main/java/io/kafbat/ui/config/CorsGlobalConfiguration.java
  api/src/main/java/io/kafbat/ui/exception/GlobalErrorWebExceptionHandler.java
Owners: @kafbat/backend

Fix linter warning (#556)
  frontend/src/components/Brokers/Broker/Configs/TableComponents/InputCell/InputCellViewMode.tsx
Owners: @kafbat/frontend

Allow topic analysis in read only clusters (#556)
  api/src/main/java/io/kafbat/ui/config/ReadOnlyModeFilter.java
Owners: @kafbat/backend

Make tooltip font regular for edit button of broker configs (#556)
  frontend/src/components/Brokers/Broker/Configs/TableComponents/InputCell/InputCellViewMode.tsx
  frontend/src/components/Brokers/Broker/Configs/TableComponents/InputCell/styled.ts
Owners: @kafbat/frontend

Mark all broker configs as read-only in read-only clusters (#556)
  api/src/main/java/io/kafbat/ui/model/InternalBrokerConfig.java
  api/src/main/java/io/kafbat/ui/service/BrokerService.java
Owners: @kafbat/backend

FE: Handle previousCursor in first page (#550)
  api/src/main/java/io/kafbat/ui/service/MessagesService.java
  api/src/main/java/io/kafbat/ui/service/PollingCursorsStorage.java
Owners: @kafbat/backend

FE: fix a null pointer exception due to test fixtures (#550)
  api/src/test/java/io/kafbat/ui/emitter/CursorTest.java
Owners: @kafbat/backend

FE: Add some frontend tests for previous button in topic messages page (#550)
  frontend/src/components/Topics/Topic/Messages/__test__/MessagesTable.spec.tsx
Owners: @kafbat/frontend

FE: Reset page parameter in URL of topic messages page when changing mode (#550)
  frontend/src/lib/hooks/api/topicMessages.tsx
Owners: @kafbat/frontend

FE: Add Prevoius button to topic message page - backend side (#550)
  api/src/main/java/io/kafbat/ui/emitter/ConsumingStats.java
  api/src/main/java/io/kafbat/ui/emitter/Cursor.java
  api/src/main/java/io/kafbat/ui/service/MessagesService.java
  api/src/main/java/io/kafbat/ui/service/PollingCursorsStorage.java
  api/src/test/java/io/kafbat/ui/emitter/CursorTest.java
Owners: @kafbat/backend

FE: Fix frontend test fixtures (#550)
  frontend/src/components/Topics/Topic/Messages/__test__/MessagesTable.spec.tsx
Owners: @kafbat/frontend

FE: Add Prevoius button to topic message page - frontend side (#550)
  api/src/main/java/io/kafbat/ui/emitter/ConsumingStats.java
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  frontend/src/components/Topics/Topic/Messages/MessagesTable.tsx
  frontend/src/lib/hooks/api/topicMessages.tsx
  frontend/src/lib/hooks/useMessageFiltersStore.ts
  frontend/src/lib/hooks/useMessagesFilters.ts
Owners: @kafbat/backend, @kafbat/frontend

FE: Refactor topic messages next page codebase (#550)
  frontend/src/components/Topics/Topic/Messages/MessagesTable.tsx
  frontend/src/lib/hooks/api/topicMessages.tsx
  frontend/src/lib/hooks/useMessagesFilters.ts
Owners: @kafbat/frontend

FE: Fix linter warnings (#550)
  frontend/src/components/Topics/Topic/Messages/MessagesTable.tsx
  frontend/src/lib/hooks/api/topicMessages.tsx
Owners: @kafbat/frontend

FE: fix missing previousCursorId in case of empty pollRange (#550)
  api/src/main/java/io/kafbat/ui/emitter/AbstractEmitter.java
  api/src/main/java/io/kafbat/ui/emitter/ConsumingStats.java
  api/src/main/java/io/kafbat/ui/emitter/MessagesProcessing.java
  api/src/main/java/io/kafbat/ui/emitter/RangePollingEmitter.java
Owners: @kafbat/backend

FE: Rename cursor to nextCursor in topic message response (#550)
  api/src/main/java/io/kafbat/ui/emitter/ConsumingStats.java
  api/src/test/java/io/kafbat/ui/service/MessagesServiceTest.java
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  frontend/src/lib/hooks/api/topicMessages.tsx
Owners: @kafbat/backend, @kafbat/frontend

FE: Fix linter warnings (#550)
  frontend/src/components/Topics/Topic/Messages/MessagesTable.tsx
Owners: @kafbat/frontend

Add dropdown options to pause and stop connectors
  api/src/main/java/io/kafbat/ui/client/RetryingKafkaConnectClient.java
  api/src/main/java/io/kafbat/ui/service/KafkaConnectService.java
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  contract/src/main/resources/swagger/kafka-connect-api.yaml
  frontend/src/components/Connect/Details/Actions/Actions.tsx
  frontend/src/components/Connect/List/ActionsCell.tsx
Owners: @kafbat/backend, @kafbat/frontend

format kafkbat-ui openapi definition
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
Owners: @kafbat/backend

Add a dropdown option to reset the offsets of stopped connectors
  api/src/main/java/io/kafbat/ui/controller/KafkaConnectController.java
  api/src/main/java/io/kafbat/ui/model/rbac/permission/ConnectAction.java
  api/src/main/java/io/kafbat/ui/service/KafkaConnectService.java
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  contract/src/main/resources/swagger/kafka-connect-api.yaml
  frontend/src/components/Connect/Details/Actions/Actions.tsx
  frontend/src/components/Connect/List/ActionsCell.tsx
  frontend/src/lib/hooks/api/kafkaConnect.ts
Owners: @kafbat/backend, @kafbat/frontend
