Repository kafbat/kafka-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kafbat/maintainers, @kafbat/backend, @kafbat/frontend, @kafbat/qa, @kafbat/devops

FE: RBAC: Fix connector permissions checks (#415)
  frontend/src/components/Connect/Details/Actions/Actions.tsx
  frontend/src/components/Connect/Details/Tasks/ActionsCellTasks.tsx
  frontend/src/components/Connect/List/ActionsCell.tsx
Owners: @kafbat/frontend

BE: RBAC: Wizard: Fix enums mapping (#278)
  api/src/main/java/io/kafbat/ui/controller/ApplicationConfigController.java
  api/src/main/java/io/kafbat/ui/model/rbac/Permission.java
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
Owners: @kafbat/backend

FE: Messages: Fix refresh does pagination instead (#417)
  frontend/src/components/Topics/Topic/Messages/MessagesTable.tsx
  frontend/src/components/Topics/Topic/Messages/__test__/MessagesTable.spec.tsx
  frontend/src/lib/hooks/api/topicMessages.tsx
  frontend/src/lib/hooks/useMessagesFilters.ts
Owners: @kafbat/frontend

Fixes #424
  frontend/src/components/ACLPage/Form/ForProducers/lib.ts
  frontend/src/components/ACLPage/Form/ForProducers/types.ts
Owners: @kafbat/frontend

FE: ACL: Fix Idempotent_write ACL is not created (#425)
  frontend/src/components/ACLPage/Form/ForProducers/lib.ts
  frontend/src/components/ACLPage/Form/ForProducers/types.ts
Owners: @kafbat/frontend

FE: Wizard: Fix sections collapsing (#399)
  frontend/src/widgets/ClusterConfigForm/Sections/Authentication/Authentication.tsx
  frontend/src/widgets/ClusterConfigForm/Sections/KSQL.tsx
  frontend/src/widgets/ClusterConfigForm/Sections/KafkaCluster.tsx
  frontend/src/widgets/ClusterConfigForm/Sections/Metrics.tsx
  frontend/src/widgets/ClusterConfigForm/Sections/SchemaRegistry.tsx
  frontend/src/widgets/ClusterConfigForm/types.ts
  frontend/src/widgets/ClusterConfigForm/utils/transformFormDataToPayload.ts
Owners: @kafbat/frontend

Fix docker compose
  documentation/compose/ui-acl-with-zk.yaml
Owners: @kafbat/backend

An attempt to fix SSL with LDAP auth
  api/src/main/java/io/kafbat/ui/config/auth/LdapSecurityConfig.java
Owners: @kafbat/backend

Resolve: Add version to image
  documentation/compose/ui-acl-with-zk.yaml
Owners: @kafbat/backend

fix Infra: Do not run e2e reports task on forks #313
  .github/workflows/e2e-run.yml
Owners: @kafbat/devops

fix Infra: Do not run e2e reports task on forks #313
  .github/workflows/e2e-run.yml
Owners: @kafbat/devops

fix Infra: Do not run e2e reports task on forks #313
  .github/workflows/e2e-run.yml
Owners: @kafbat/devops

Topics: "Show internal topics" switch is broken
  frontend/src/components/common/Switch/Switch.styled.ts
  frontend/src/components/common/Switch/Switch.tsx
Owners: @kafbat/frontend

FE: Topics: Fix "Show internal topics" switch (#446)
  frontend/src/components/common/Switch/Switch.styled.ts
  frontend/src/components/common/Switch/Switch.tsx
Owners: @kafbat/frontend

Docs: Update zookeeper image (#431)
  documentation/compose/ui-acl-with-zk.yaml
Owners: @kafbat/backend

:wrench: Stick with save/load mechanism and also add ecr publish
  .github/workflows/main.yml
  .github/workflows/release.yml
Owners: @kafbat/devops

Feat/test split (#1)
  .github/workflows/docker_build.yml
  .github/workflows/docker_publish.yml
  .github/workflows/main.yml
  .github/workflows/publish_dockerhub.yml
  .github/workflows/publish_ecr.yml
  .github/workflows/publish_ghcr.yml
  .github/workflows/release.yml
Owners: @kafbat/devops

remove uneeded permissions and lower jar artifact retention
  .github/workflows/main.yml
Owners: @kafbat/devops

:rocket: Add Dockerhub publish during release
  .github/workflows/main.yml
Owners: @kafbat/devops

remove useless comments & steps
  .github/workflows/docker_build.yml
  .github/workflows/docker_publish.yml
  .github/workflows/publish_dockerhub.yml
  .github/workflows/publish_ghcr.yml
Owners: @kafbat/devops

Switch to matrix workflow
  .github/workflows/docker_publish.yml
  .github/workflows/main.yml
Owners: @kafbat/devops

Clean unneeded workflows
  .github/workflows/publish_dockerhub.yml
  .github/workflows/publish_ecr.yml
  .github/workflows/publish_ghcr.yml
Owners: @kafbat/devops

FE: Topics: Save field previews into local storage
  frontend/src/components/Topics/Topic/Messages/MessagesTable.tsx
  frontend/src/lib/hooks/useLocalStorage.ts
Owners: @kafbat/frontend

added tests
  frontend/src/components/Topics/Topic/Messages/__test__/MessagesTable.spec.tsx
Owners: @kafbat/frontend

Fix permissions set on docker build/publish and align with main & release workflows
  .github/workflows/docker_build.yml
  .github/workflows/docker_publish.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
Owners: @kafbat/devops

Issue 372 - Icon color not updating with theme color
  frontend/src/components/common/Icons/CancelIcon.tsx
  frontend/src/components/common/Icons/CheckmarkIcon.tsx
Owners: @kafbat/frontend

Issue 372 - Icon color not updating with theme color
  frontend/src/components/common/Icons/CancelIcon.tsx
  frontend/src/components/common/Icons/CheckmarkIcon.tsx
Owners: @kafbat/frontend

Add CEL extensions
  api/src/main/java/io/kafbat/ui/emitter/MessageFilters.java
Owners: @kafbat/backend

Add tests
  api/src/test/java/io/kafbat/ui/emitter/MessageFiltersTest.java
Owners: @kafbat/backend

BE: Messages: Add CEL extensions (#465)
  api/src/main/java/io/kafbat/ui/emitter/MessageFilters.java
  api/src/test/java/io/kafbat/ui/emitter/MessageFiltersTest.java
Owners: @kafbat/backend

fixes after review
  frontend/src/components/Topics/Topic/Messages/MessagesTable.tsx
Owners: @kafbat/frontend

Initial proposition to enable header modifications by custom serializer
  api/src/main/java/io/kafbat/ui/serdes/ProducerRecordCreator.java
  api/src/main/java/io/kafbat/ui/serdes/SerdeInstance.java
  serde-api/pom.xml
  serde-api/src/main/java/io/kafbat/ui/serde/api/Serde.java
Owners: @kafbat/backend

Update DOCKER_COMPOSE.md
  documentation/compose/DOCKER_COMPOSE.md
Owners: @kafbat/backend

Docs: Remove missing compose links (#487)
  documentation/compose/DOCKER_COMPOSE.md
Owners: @kafbat/backend

BE: RBAC: Ignore values for non-applicable resources
  api/src/main/java/io/kafbat/ui/model/rbac/AccessContext.java
Owners: @kafbat/backend

UX: Header is transparent when it shouldn't be
  frontend/src/theme/theme.ts
Owners: @kafbat/frontend

Upgraded spring-boot version > 3.1.11 to resolve vulnerabilities
  pom.xml
Owners: @kafbat/backend

fix: api/pom.xml to reduce vulnerabilities
  api/pom.xml
Owners: @kafbat/backend

fix: e2e-tests/pom.xml to reduce vulnerabilities
  e2e-tests/pom.xml
Owners: @kafbat/qa

fix: e2e-tests/pom.xml to reduce vulnerabilities
  e2e-tests/pom.xml
Owners: @kafbat/qa

.github/CODEOWNERS:

*                           @kafbat/maintainers


# BACKEND
/pom.xml                    @kafbat/backend
/contract/                  @kafbat/backend
/api/                       @kafbat/backend
/serde-api/                 @kafbat/backend
/documentation/compose/     @kafbat/backend

# FRONTEND
/frontend/                  @kafbat/frontend

# TESTS
/e2e-tests/                 @kafbat/qa

# INFRA
/.github/workflows/         @kafbat/devops
