Repository kafbat/kafka-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kafbat/maintainers, @kafbat/backend, @kafbat/frontend, @kafbat/qa, @kafbat/devops

Fix missing controller tag
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  frontend/src/lib/api.ts
  frontend/src/lib/hooks/api/appConfig.ts
Owners: @kafbat/backend, @kafbat/frontend

Fix missing controller tag
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  frontend/src/lib/api.ts
  frontend/src/lib/hooks/api/appConfig.ts
Owners: @kafbat/backend, @kafbat/frontend

feat: auth page
  frontend/src/components/AuthPage/AuthPage.tsx
  frontend/src/components/AuthPage/SignIn/BasicSignIn/BasicSignIn.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/AuthCard/AuthCard.tsx
  frontend/src/components/AuthPage/SignIn/SignIn.tsx
  frontend/src/components/contexts/GlobalSettingsContext.tsx
Owners: @kafbat/frontend

feat: auth page
  frontend/src/components/AuthPage/AuthPage.tsx
  frontend/src/components/AuthPage/SignIn/BasicSignIn/BasicSignIn.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/AuthCard/AuthCard.tsx
  frontend/src/components/AuthPage/SignIn/SignIn.tsx
  frontend/src/components/contexts/GlobalSettingsContext.tsx
Owners: @kafbat/frontend

bump and align kafka
  .dev/dev_arm64.yaml
  .gitignore
  api/pom.xml
  api/src/main/java/io/kafbat/ui/client/RetryingKafkaConnectClient.java
  api/src/test/java/io/kafbat/ui/AbstractIntegrationTest.java
  documentation/compose/e2e-tests.yaml
  e2e-tests/pom.xml
  pom.xml
Owners: @kafbat/maintainers, @kafbat/backend, @kafbat/qa

refactor: use record classes
  api/src/main/java/io/kafbat/ui/model/InternalClusterState.java
  api/src/main/java/io/kafbat/ui/model/InternalPartitionsOffsets.java
  api/src/main/java/io/kafbat/ui/model/InternalReplica.java
  api/src/main/java/io/kafbat/ui/model/InternalTopic.java
  api/src/main/java/io/kafbat/ui/serdes/ConsumerRecordDeserializer.java
  api/src/main/java/io/kafbat/ui/serdes/CustomSerdeLoader.java
  api/src/main/java/io/kafbat/ui/serdes/SerdesInitializer.java
  api/src/main/java/io/kafbat/ui/service/BrokerService.java
  api/src/main/java/io/kafbat/ui/service/DeserializationService.java
  api/src/main/java/io/kafbat/ui/service/FeatureService.java
  api/src/main/java/io/kafbat/ui/service/ReactiveAdminClient.java
  api/src/main/java/io/kafbat/ui/service/StatisticsService.java
  api/src/main/java/io/kafbat/ui/service/TopicsService.java
  api/src/main/java/io/kafbat/ui/service/ksql/KsqlApiClient.java
  api/src/main/java/io/kafbat/ui/service/ksql/KsqlGrammar.java
  api/src/main/java/io/kafbat/ui/service/ksql/KsqlServiceV2.java
  api/src/main/java/io/kafbat/ui/service/masking/DataMasking.java
  api/src/main/java/io/kafbat/ui/service/metrics/RawMetric.java
  api/src/main/java/io/kafbat/ui/util/jsonschema/AvroJsonSchemaConverter.java
  api/src/main/java/io/kafbat/ui/util/jsonschema/ObjectFieldSchema.java
  api/src/main/java/io/kafbat/ui/util/jsonschema/ProtobufSchemaConverter.java
  api/src/main/java/io/kafbat/ui/util/jsonschema/RefFieldSchema.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/AvroEmbeddedSerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/Base64SerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/ConsumerOffsetsSerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/HexSerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/Int32SerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/Int64SerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/ProtobufFileSerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/ProtobufRawSerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/UInt32SerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/UInt64SerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/UuidBinarySerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/sr/SchemaRegistrySerdeTest.java
  api/src/test/java/io/kafbat/ui/service/RecordEmitterTest.java
  serde-api/src/main/java/io/kafbat/ui/serde/api/DeserializeResult.java
  serde-api/src/main/java/io/kafbat/ui/serde/api/SchemaDescription.java
Owners: @kafbat/backend

feat: auth page
  frontend/src/components/AuthPage/SignIn/BasicSignIn/BasicSignIn.tsx
  frontend/src/components/contexts/GlobalSettingsContext.tsx
  frontend/src/lib/hooks/api/appConfig.ts
Owners: @kafbat/frontend

feat: auth page
  frontend/src/components/AuthPage/SignIn/BasicSignIn/BasicSignIn.tsx
  frontend/src/components/contexts/GlobalSettingsContext.tsx
  frontend/src/lib/hooks/api/appConfig.ts
Owners: @kafbat/frontend

Lint
  frontend/src/components/AuthPage/SignIn/BasicSignIn/BasicSignIn.tsx
  frontend/src/components/contexts/GlobalSettingsContext.tsx
  frontend/src/lib/hooks/api/appConfig.ts
Owners: @kafbat/frontend

Lint
  frontend/src/components/AuthPage/SignIn/BasicSignIn/BasicSignIn.tsx
  frontend/src/components/contexts/GlobalSettingsContext.tsx
  frontend/src/lib/hooks/api/appConfig.ts
Owners: @kafbat/frontend

BE: RBAC: Subject type/value is unintended to be optional
  api/src/main/java/io/kafbat/ui/config/auth/LdapSecurityConfig.java
  api/src/main/java/io/kafbat/ui/service/rbac/extractor/RbacActiveDirectoryAuthoritiesExtractor.java
Owners: @kafbat/backend

FE: Fix Default Consumer's Lag Value with nullish coalescing
  frontend/src/components/ConsumerGroups/List.tsx
Owners: @kafbat/frontend

BE: Chore: use enhanced switch (#702)
  api/src/main/java/io/kafbat/ui/service/KafkaConnectService.java
Owners: @kafbat/backend

BE: Chore: Upgrade java to 21 (#628)
  .github/workflows/backend_tests.yml
  .github/workflows/branch-deploy.yml
  .github/workflows/build-public-image.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/cve_checks.yml
  .github/workflows/e2e-run.yml
  .github/workflows/main.yml
  .github/workflows/release-serde-api.yml
  .github/workflows/release.yml
  .github/workflows/separate_env_public_create.yml
  api/Dockerfile
  api/src/main/java/io/kafbat/ui/client/RetryingKafkaConnectClient.java
  api/src/main/java/io/kafbat/ui/service/ConsumerGroupService.java
  api/src/main/java/io/kafbat/ui/service/KafkaConnectService.java
  documentation/compose/connectors/start.sh
  documentation/compose/e2e-tests.yaml
  e2e-tests/pom.xml
  pom.xml
  serde-api/pom.xml
Owners: @kafbat/devops, @kafbat/backend, @kafbat/qa

BE: KC: Expose validation errors to UI (#705)
  api/src/main/java/io/kafbat/ui/client/RetryingKafkaConnectClient.java
  api/src/test/java/io/kafbat/ui/KafkaConnectServiceTests.java
  etc/checkstyle/checkstyle.xml
Owners: @kafbat/backend, @kafbat/maintainers

BE: RBAC: Add cluster list validation (#421)
  api/src/main/java/io/kafbat/ui/model/rbac/Role.java
Owners: @kafbat/backend

FE: Chore: Bump braces (#679)
  frontend/package.json
  frontend/pnpm-lock.yaml
Owners: @kafbat/frontend

BE: Messages: Allow searching in message headers (#695)
  api/src/main/java/io/kafbat/ui/emitter/MessageFilters.java
  api/src/test/java/io/kafbat/ui/emitter/MessageFiltersTest.java
Owners: @kafbat/backend

Docs: Fix quick start link (#718)
  README.md
Owners: @kafbat/maintainers

BE: Wizard: Fix nullable cluster perms check (#678)
  api/src/main/java/io/kafbat/ui/service/rbac/AccessControlService.java
Owners: @kafbat/backend

BE: Chore: Cleanup api tests (#698)
  api/src/test/java/io/kafbat/ui/KafkaConnectServiceTests.java
  api/src/test/java/io/kafbat/ui/KafkaConsumerTests.java
  api/src/test/java/io/kafbat/ui/config/auth/azure/AzureEntraLoginCallbackHandlerTest.java
  api/src/test/java/io/kafbat/ui/config/auth/azure/AzureEntraOAuthBearerTokenTest.java
  api/src/test/java/io/kafbat/ui/container/KafkaConnectContainer.java
  api/src/test/java/io/kafbat/ui/container/KsqlDbContainer.java
  api/src/test/java/io/kafbat/ui/container/SchemaRegistryContainer.java
  api/src/test/java/io/kafbat/ui/emitter/CursorTest.java
  api/src/test/java/io/kafbat/ui/emitter/TailingEmitterTest.java
  api/src/test/java/io/kafbat/ui/serdes/SerdesInitializerTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/ConsumerOffsetsSerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/ProtobufFileSerdeTest.java
  api/src/test/java/io/kafbat/ui/service/BrokerServiceTest.java
  api/src/test/java/io/kafbat/ui/service/ConfigTest.java
  api/src/test/java/io/kafbat/ui/service/LogDirsTest.java
  api/src/test/java/io/kafbat/ui/service/MessagesServiceTest.java
  api/src/test/java/io/kafbat/ui/service/OffsetsResetServiceTest.java
  api/src/test/java/io/kafbat/ui/service/ReactiveAdminClientTest.java
  api/src/test/java/io/kafbat/ui/service/SchemaRegistryPaginationTest.java
  api/src/test/java/io/kafbat/ui/service/SendAndReadTests.java
  api/src/test/java/io/kafbat/ui/service/acl/AclsServiceTest.java
  api/src/test/java/io/kafbat/ui/service/analyze/TopicAnalysisServiceTest.java
  api/src/test/java/io/kafbat/ui/service/integration/odd/ConnectorsExporterTest.java
  api/src/test/java/io/kafbat/ui/service/integration/odd/SchemaReferencesResolverTest.java
  api/src/test/java/io/kafbat/ui/service/integration/odd/TopicsExporterTest.java
  api/src/test/java/io/kafbat/ui/service/quota/ClientQuotaServiceTest.java
  api/src/test/java/io/kafbat/ui/util/jsonschema/JsonAvroConversionTest.java
Owners: @kafbat/backend

BE: CVE fixes (#691)
  api/pom.xml
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  frontend/src/components/Brokers/Broker/Configs/lib/constants.ts
  pom.xml
Owners: @kafbat/backend, @kafbat/frontend

Infra: FE: Bump pnpm to 9.15.0 (#709)
  .github/workflows/frontend_tests.yml
  frontend/package.json
  pom.xml
Owners: @kafbat/devops, @kafbat/frontend, @kafbat/backend

FE: Fix Default Consumer's Lag Value with nullish coalescing
  frontend/src/components/ConsumerGroups/List.tsx
Owners: @kafbat/frontend

BE: Serde: Fix HTTP 500 on protobuf Any type (#696)
  api/src/main/java/io/kafbat/ui/serdes/builtin/ProtobufFileSerde.java
  api/src/test/java/io/kafbat/ui/AbstractIntegrationTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/ProtobufFileSerdeTest.java
  api/src/test/java/io/kafbat/ui/service/MessagesServiceTest.java
  api/src/test/resources/protobuf-serde/messagewithany.proto
Owners: @kafbat/backend

feat: add new clipboard icon
  frontend/src/components/common/Icons/ClipboardIcon.tsx
Owners: @kafbat/frontend

feat: add clipboard button near tabs to use useDataSaver for quick copy
  frontend/src/components/Topics/Topic/Messages/MessageContent/MessageContent.tsx
Owners: @kafbat/frontend

feat: use flexbox to align clipboard button to the right
  frontend/src/components/Topics/Topic/Messages/MessageContent/MessageContent.tsx
Owners: @kafbat/frontend

refactor: use tab-indented JSON.stringify for readability in useDataSaver
  frontend/src/lib/hooks/useDataSaver.ts
Owners: @kafbat/frontend

test: update useDataSaver test to match formatted JSON output
  frontend/src/lib/hooks/__tests__/useDataSaver.spec.tsx
Owners: @kafbat/frontend

FE: Added test code for changing default value notation of ConsumerGroups component
  frontend/src/components/ConsumerGroups/__test__/List.spec.tsx
Owners: @kafbat/frontend

NOTASK: fix mr comments
  api/src/main/java/io/kafbat/ui/util/jsonschema/AvroJsonSchemaConverter.java
Owners: @kafbat/backend

bump and align kafka
  .dev/dev_arm64.yaml
  .gitignore
  api/pom.xml
  api/src/main/java/io/kafbat/ui/client/RetryingKafkaConnectClient.java
  api/src/test/java/io/kafbat/ui/AbstractIntegrationTest.java
  documentation/compose/e2e-tests.yaml
  e2e-tests/pom.xml
  pom.xml
Owners: @kafbat/maintainers, @kafbat/backend, @kafbat/qa

update test to consider multiple pages
  e2e-tests/src/main/java/io/kafbat/ui/screens/panels/NaviSideBar.java
  e2e-tests/src/main/java/io/kafbat/ui/screens/topics/TopicSettingsTab.java
Owners: @kafbat/qa

Fixed login page renderer
  .java-version
  api/src/main/java/io/kafbat/ui/config/auth/AbstractAuthSecurityConfig.java
  api/src/main/java/io/kafbat/ui/config/auth/OAuthSecurityConfig.java
  api/src/main/java/io/kafbat/ui/controller/AuthenticationController.java
  api/src/main/java/io/kafbat/ui/util/StaticFileWebFilter.java
  frontend/src/components/App.tsx
Owners: @kafbat/maintainers, @kafbat/backend, @kafbat/frontend

Fix login page url
  frontend/src/components/App.tsx
Owners: @kafbat/frontend

BE: RBAC: Subject type/value is unintended to be optional
  api/src/test/java/io/kafbat/ui/AbstractIntegrationTest.java
  api/src/test/java/io/kafbat/ui/ActiveDirectoryIntegrationTest.java
  api/src/test/java/io/kafbat/ui/container/ActiveDirectoryContainer.java
  api/src/test/resources/application-rbac-ad.yml
Owners: @kafbat/backend

Fixed login page renderer
  .java-version
  api/src/main/java/io/kafbat/ui/config/auth/AbstractAuthSecurityConfig.java
  api/src/main/java/io/kafbat/ui/config/auth/OAuthSecurityConfig.java
  api/src/main/java/io/kafbat/ui/controller/AuthenticationController.java
  api/src/main/java/io/kafbat/ui/util/StaticFileWebFilter.java
Owners: @kafbat/maintainers, @kafbat/backend

Polish
  api/src/main/java/io/kafbat/ui/config/auth/AbstractAuthSecurityConfig.java
  api/src/main/java/io/kafbat/ui/config/auth/OAuthSecurityConfig.java
  api/src/main/java/io/kafbat/ui/controller/AuthenticationController.java
  api/src/main/java/io/kafbat/ui/util/StaticFileWebFilter.java
Owners: @kafbat/backend

Apply filter for all configs
  api/src/main/java/io/kafbat/ui/config/auth/AbstractAuthSecurityConfig.java
  api/src/main/java/io/kafbat/ui/config/auth/BasicAuthSecurityConfig.java
  api/src/main/java/io/kafbat/ui/config/auth/LdapSecurityConfig.java
  api/src/main/java/io/kafbat/ui/config/auth/OAuthSecurityConfig.java
  api/src/main/java/io/kafbat/ui/util/StaticFileWebFilter.java
Owners: @kafbat/backend

.github/CODEOWNERS:

*                           @kafbat/maintainers


# BACKEND
/pom.xml                    @kafbat/backend
/contract/                  @kafbat/backend
/api/                       @kafbat/backend
/serde-api/                 @kafbat/backend
/documentation/compose/     @kafbat/backend

# FRONTEND
/frontend/                  @kafbat/frontend

# TESTS
/e2e-tests/                 @kafbat/qa

# INFRA
/.github/workflows/         @kafbat/devops
