Repository kafbat/kafka-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kafbat/maintainers, @kafbat/backend, @kafbat/frontend, @kafbat/qa, @kafbat/devops

E2E: Playwright e2e tests (#1110)
  e2e-playwright/config/cucumber.js
  e2e-playwright/package.json
  e2e-playwright/src/features/Brokers.feature
  e2e-playwright/src/features/KsqlDb.feature
  e2e-playwright/src/features/SchemaRegistry.feature
  e2e-playwright/src/features/TopicsActions.feature
  e2e-playwright/src/features/TopicsMessages.feature
  e2e-playwright/src/hooks/hooks.ts
  e2e-playwright/src/pages/Brokers/BrokerDetailsLocators.ts
  e2e-playwright/src/pages/Brokers/BrokersLocators.ts
  e2e-playwright/src/pages/KSQLDB/ksqldbLocators.ts
  e2e-playwright/src/pages/Locators.ts
  e2e-playwright/src/pages/SchemaRegistry/SchemaRegistryLocators.ts
  e2e-playwright/src/pages/SchemaRegistry/SchemaRegistrySchemaNameLocators.ts
  e2e-playwright/src/pages/Topics/ProduceMessageLocators.ts
  e2e-playwright/src/pages/Topics/TopicsLocators.ts
  e2e-playwright/src/pages/Topics/TopicsTopickNameLocators.ts
  e2e-playwright/src/services/KsqlScripts.ts
  e2e-playwright/src/services/commonFunctions.ts
  e2e-playwright/src/services/filters.ts
  e2e-playwright/src/services/schemas.ts
  e2e-playwright/src/services/templateJsons.ts
  e2e-playwright/src/services/uiHelper.ts
  e2e-playwright/src/steps/Brokers.steps.ts
  e2e-playwright/src/steps/Ksqldb.steps.ts
  e2e-playwright/src/steps/ProduceMessages.ts
  e2e-playwright/src/steps/SchemaRegistry.steps.ts
  e2e-playwright/src/steps/TopicsCreate.steps.ts
  e2e-tests/src/main/java/io/kafbat/ui/screens/topics/TopicDetails.java
Owners: @kafbat/maintainers, @kafbat/qa

Fixed sonar errors
  api/src/main/java/io/kafbat/ui/service/graphs/PromQueryLangGrammar.java
  api/src/main/java/io/kafbat/ui/service/metrics/SummarizedMetrics.java
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/IoRatesMetricsScanner.java
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/inferred/InferredMetricsScraper.java
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/prometheus/PrometheusTextFormatParser.java
Owners: @kafbat/backend

Fixed sonar errors
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/prometheus/PrometheusTextFormatParser.java
  api/src/main/java/io/kafbat/ui/util/MetricsUtils.java
  api/src/test/java/io/kafbat/ui/service/metrics/MetricsUtils.java
Owners: @kafbat/backend

Fixed sonar errors
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/jmx/JmxMetricsFormatter.java
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/prometheus/PrometheusTextFormatParser.java
Owners: @kafbat/backend

Fixed sonar errors
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/prometheus/PrometheusTextFormatParser.java
Owners: @kafbat/backend

Fixed sonar errors
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/prometheus/PrometheusTextFormatParser.java
Owners: @kafbat/backend

Fixed sonar errors
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/inferred/InferredMetricsScraper.java
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/jmx/JmxMetricsFormatter.java
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/jmx/JmxMetricsRetriever.java
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/prometheus/PrometheusTextFormatParser.java
Owners: @kafbat/backend

Fix warnings
  api/build.gradle
  api/src/main/java/io/kafbat/ui/client/RetryingKafkaConnectClient.java
  api/src/main/java/io/kafbat/ui/controller/MessagesController.java
  api/src/main/java/io/kafbat/ui/controller/SchemasController.java
  api/src/main/java/io/kafbat/ui/controller/TopicsController.java
  api/src/main/java/io/kafbat/ui/emitter/MessageFilters.java
  api/src/main/java/io/kafbat/ui/emitter/OffsetsInfo.java
  api/src/main/java/io/kafbat/ui/emitter/SeekOperations.java
  api/src/main/java/io/kafbat/ui/mapper/ClusterMapper.java
  api/src/main/java/io/kafbat/ui/mapper/DynamicConfigMapper.java
  api/src/main/java/io/kafbat/ui/service/ConsumerGroupService.java
  api/src/main/java/io/kafbat/ui/service/KafkaConnectService.java
  api/src/main/java/io/kafbat/ui/service/PollingCursorsStorage.java
  api/src/main/java/io/kafbat/ui/service/graphs/PromQueryTemplate.java
  api/src/main/java/io/kafbat/ui/service/masking/policies/Mask.java
  api/src/main/java/io/kafbat/ui/service/masking/policies/Remove.java
  api/src/main/java/io/kafbat/ui/service/masking/policies/Replace.java
  api/src/main/java/io/kafbat/ui/service/metrics/SummarizedMetrics.java
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/IoRatesMetricsScanner.java
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/jmx/JmxSslSocketFactory.java
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/prometheus/PrometheusTextFormatParser.java
  api/src/main/java/io/kafbat/ui/util/DynamicConfigOperations.java
  api/src/main/java/io/kafbat/ui/util/jsonschema/JsonAvroConversion.java
  api/src/test/java/io/kafbat/ui/KafkaConsumerGroupTests.java
  api/src/test/java/io/kafbat/ui/emitter/MessageFiltersTest.java
  api/src/test/java/io/kafbat/ui/service/StatisticsServiceTest.java
  api/src/test/java/io/kafbat/ui/service/analyze/TopicAnalysisServiceTest.java
  api/src/test/java/io/kafbat/ui/service/metrics/MetricsUtils.java
  api/src/test/java/io/kafbat/ui/util/ContentUtilsTest.java
  gradle/libs.versions.toml
  serde-api/src/main/java/io/kafbat/ui/serde/api/Serde.java
Owners: @kafbat/backend

fix
  e2e-playwright/src/features/TopicsMessages.feature
Owners: @kafbat/maintainers

E2E: Playwright tests button visibility fix (#1220)
  e2e-playwright/src/features/TopicsMessages.feature
Owners: @kafbat/maintainers

2 fixes
  e2e-playwright/src/features/TopicsMessages.feature
  e2e-playwright/src/pages/Topics/TopicsTopickNameLocators.ts
  e2e-playwright/src/steps/TopicsCreate.steps.ts
Owners: @kafbat/maintainers

BE: Fixes #445 be connect info
  api/src/main/java/io/kafbat/ui/mapper/ClusterMapper.java
  api/src/main/java/io/kafbat/ui/mapper/KafkaConnectMapper.java
  api/src/main/java/io/kafbat/ui/model/connect/InternalConnectorInfo.java
  api/src/main/java/io/kafbat/ui/service/KafkaConnectService.java
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
Owners: @kafbat/backend

BE: Fixes #445 Added connect stats
  BE__Fixes_#445_be_connect_info.patch
  api/src/main/java/io/kafbat/ui/model/connect/InternalConnectorInfo.java
Owners: @kafbat/maintainers, @kafbat/backend

Removed patch
  BE__Fixes_#445_be_connect_info.patch
Owners: @kafbat/maintainers

BE: Fixes #445 Added connect stats
  api/src/main/java/io/kafbat/ui/mapper/ClusterMapper.java
  api/src/main/java/io/kafbat/ui/mapper/KafkaConnectMapper.java
  api/src/main/java/io/kafbat/ui/model/connect/InternalConnectorInfo.java
  api/src/main/java/io/kafbat/ui/service/KafkaConnectService.java
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
Owners: @kafbat/backend

Added configs, stats and cache
  api/build.gradle
  api/src/main/java/io/kafbat/ui/config/ClustersProperties.java
  api/src/main/java/io/kafbat/ui/controller/KafkaConnectController.java
  api/src/main/java/io/kafbat/ui/mapper/ClusterMapper.java
  api/src/main/java/io/kafbat/ui/mapper/KafkaConnectMapper.java
  api/src/main/java/io/kafbat/ui/service/KafkaConnectService.java
  api/src/main/java/io/kafbat/ui/service/integration/odd/ConnectorsExporter.java
  api/src/main/java/io/kafbat/ui/util/DynamicConfigOperations.java
  api/src/main/java/io/kafbat/ui/util/YamlNullSkipRepresenter.java
  api/src/test/java/io/kafbat/ui/service/integration/odd/ConnectorsExporterTest.java
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  e2e-tests/src/main/java/io/kafbat/ui/services/ApiService.java
  gradle/libs.versions.toml
Owners: @kafbat/backend, @kafbat/qa

topic message menu fix
  e2e-playwright/src/features/TopicsMessages.feature
  e2e-playwright/src/pages/Topics/TopicsTopickNameLocators.ts
  e2e-playwright/src/steps/ProduceMessages.ts
Owners: @kafbat/maintainers

E2E Playwright: Topic message menu fix (#1225)
  e2e-playwright/src/features/TopicsMessages.feature
  e2e-playwright/src/pages/Topics/TopicsTopickNameLocators.ts
  e2e-playwright/src/steps/ProduceMessages.ts
Owners: @kafbat/maintainers

Enabled Playwright tests by default
  .github/workflows/e2e-playwright-manual.yml
  .github/workflows/e2e-playwright-pr.yml
  .github/workflows/e2e-playwright-run.yml
Owners: @kafbat/devops

Enabled Playwright tests by default
  .github/workflows/e2e-playwright-manual.yml
Owners: @kafbat/devops

Enabled Playwright tests by default
  .github/workflows/e2e-playwright-manual.yml
Owners: @kafbat/devops

Simplified connect method
  api/src/main/java/io/kafbat/ui/service/KafkaConnectService.java
Owners: @kafbat/backend

SonarQube fixes
  api/src/main/java/io/kafbat/ui/service/KafkaClusterFactory.java
  api/src/main/java/io/kafbat/ui/service/KafkaConnectService.java
  api/src/main/java/io/kafbat/ui/service/metrics/SummarizedMetrics.java
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/ScrapedClusterState.java
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/inferred/InferredMetricsScraper.java
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/jmx/JmxMetricsFormatter.java
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/prometheus/PrometheusTextFormatParser.java
Owners: @kafbat/backend

SonarQube fixes
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/jmx/JmxMetricsFormatter.java
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/prometheus/PrometheusTextFormatParser.java
Owners: @kafbat/backend

SonarQube fixes
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/jmx/JmxMetricsFormatter.java
Owners: @kafbat/backend

SonarQube fixes
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/jmx/JmxMetricsFormatter.java
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/prometheus/PrometheusTextFormatParser.java
Owners: @kafbat/backend

SonarQube fixes
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/jmx/JmxMetricsFormatter.java
Owners: @kafbat/backend

SonarQube fixes
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/jmx/JmxMetricsFormatter.java
Owners: @kafbat/backend

Expose metrics per cluster & added graphs enabled feature
  api/src/main/java/io/kafbat/ui/config/ClustersProperties.java
  api/src/main/java/io/kafbat/ui/controller/PrometheusExposeController.java
  api/src/main/java/io/kafbat/ui/model/ClusterFeature.java
  api/src/main/java/io/kafbat/ui/service/FeatureService.java
  api/src/main/java/io/kafbat/ui/service/KafkaClusterFactory.java
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/jmx/JmxMetricsFormatter.java
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/prometheus/PrometheusTextFormatParser.java
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
Owners: @kafbat/backend

Bump Dockerfile JRE from 21.0.6 to 21.0.8
  api/Dockerfile
Owners: @kafbat/backend

Lucene test
  api/build.gradle
  api/src/main/java/io/kafbat/ui/config/ClustersProperties.java
  api/src/main/java/io/kafbat/ui/controller/TopicsController.java
  api/src/main/java/io/kafbat/ui/model/Statistics.java
  api/src/main/java/io/kafbat/ui/model/state/ConsumerGroupState.java
  api/src/main/java/io/kafbat/ui/model/state/NodeState.java
  api/src/main/java/io/kafbat/ui/model/state/TopicState.java
  api/src/main/java/io/kafbat/ui/service/StatisticsCache.java
  api/src/main/java/io/kafbat/ui/service/StatisticsService.java
  api/src/main/java/io/kafbat/ui/service/TopicsService.java
  api/src/main/java/io/kafbat/ui/service/index/TopicsIndex.java
  api/src/main/java/io/kafbat/ui/service/integration/odd/TopicsExporter.java
  api/src/main/java/io/kafbat/ui/service/metrics/scrape/ScrapedClusterState.java
  api/src/test/java/io/kafbat/ui/service/TopicsServicePaginationTest.java
  api/src/test/java/io/kafbat/ui/service/index/TopicsIndexTest.java
  api/src/test/java/io/kafbat/ui/service/integration/odd/TopicsExporterTest.java
  api/src/test/java/io/kafbat/ui/service/metrics/scrape/inferred/InferredMetricsScraperTest.java
  gradle/libs.versions.toml
Owners: @kafbat/backend

Bump Dockerfile JRE from 21.0.6 to 21.0.8 (#1228)
  api/Dockerfile
Owners: @kafbat/backend

BE: Fixes Issue #445 Added connect stats (#1224)
  api/build.gradle
  api/src/main/java/io/kafbat/ui/config/ClustersProperties.java
  api/src/main/java/io/kafbat/ui/controller/KafkaConnectController.java
  api/src/main/java/io/kafbat/ui/mapper/ClusterMapper.java
  api/src/main/java/io/kafbat/ui/mapper/KafkaConnectMapper.java
  api/src/main/java/io/kafbat/ui/model/connect/InternalConnectorInfo.java
  api/src/main/java/io/kafbat/ui/service/KafkaConnectService.java
  api/src/main/java/io/kafbat/ui/service/integration/odd/ConnectorsExporter.java
  api/src/main/java/io/kafbat/ui/util/DynamicConfigOperations.java
  api/src/main/java/io/kafbat/ui/util/YamlNullSkipRepresenter.java
  api/src/test/java/io/kafbat/ui/service/integration/odd/ConnectorsExporterTest.java
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  e2e-tests/src/main/java/io/kafbat/ui/services/ApiService.java
  gradle/libs.versions.toml
Owners: @kafbat/backend, @kafbat/qa

FE: Clusters as separated page
  frontend/src/components/ClusterPage/ClusterPage.tsx
  frontend/src/components/KafkaConnectClustersPage/KafkaConnectClustersPage.tsx
  frontend/src/components/KafkaConnectClustersPage/ui/List/Cells/ConnectorsCell.tsx
  frontend/src/components/KafkaConnectClustersPage/ui/List/Cells/NameCell.tsx
  frontend/src/components/KafkaConnectClustersPage/ui/List/Cells/TasksCell.tsx
  frontend/src/components/KafkaConnectClustersPage/ui/List/List.tsx
  frontend/src/components/KafkaConnectClustersPage/ui/Statistics/Statistic/Statistic.styled.tsx
  frontend/src/components/KafkaConnectClustersPage/ui/Statistics/Statistic/Statistic.tsx
  frontend/src/components/KafkaConnectClustersPage/ui/Statistics/Statistics.styled.tsx
  frontend/src/components/KafkaConnectClustersPage/ui/Statistics/Statistics.tsx
  frontend/src/components/KafkaConnectClustersPage/ui/Statistics/models/computeStatistics.ts
  frontend/src/components/Nav/ClusterMenu/ClusterMenu.tsx
  frontend/src/components/common/AlertBadge/AlertBadge.styled.tsx
  frontend/src/components/common/AlertBadge/AlertBadge.tsx
  frontend/src/components/common/Icons/AlertIcon.tsx
  frontend/src/lib/paths.ts
  frontend/src/theme/theme.ts
Owners: @kafbat/frontend

FE: Move cluster and connetors under kafka connect
  frontend/src/components/ClusterPage/ClusterPage.tsx
  frontend/src/components/Connect/Clusters/Clusters.tsx
  frontend/src/components/Connect/Clusters/ui/List/Cells/ConnectorsCell.tsx
  frontend/src/components/Connect/Clusters/ui/List/Cells/NameCell.tsx
  frontend/src/components/Connect/Clusters/ui/List/Cells/TasksCell.tsx
  frontend/src/components/Connect/Clusters/ui/List/List.tsx
  frontend/src/components/Connect/Clusters/ui/Statistics/Statistics.tsx
  frontend/src/components/Connect/Clusters/ui/Statistics/models/computeStatistics.ts
  frontend/src/components/Connect/Connect.tsx
  frontend/src/components/Connect/Header/Header.tsx
  frontend/src/components/Connect/List/ListPage.styled.ts
  frontend/src/components/Connect/List/ListPage.tsx
  frontend/src/components/Connect/List/RunningTasksCell.tsx
  frontend/src/components/Connect/List/Statistics/Statistics.tsx
  frontend/src/components/Connect/List/Statistics/models/computeStatistics.ts
  frontend/src/components/KafkaConnectClustersPage/ui/Statistics/Statistic/Statistic.tsx
  frontend/src/components/Nav/ClusterMenu/ClusterMenu.tsx
  frontend/src/components/common/Statistics/Statistic/Statistic.styled.tsx
  frontend/src/components/common/Statistics/Statistic/Statistic.tsx
  frontend/src/components/common/Statistics/Statistics.styled.tsx
  frontend/src/components/common/Statistics/index.ts
  frontend/src/lib/paths.ts
Owners: @kafbat/frontend

Updated Feature List
  README.md
Owners: @kafbat/maintainers

FE: Fix active element
  frontend/src/components/Nav/ClusterMenu/ClusterMenu.tsx
Owners: @kafbat/frontend

FE: Use api query
  frontend/src/components/Connect/Clusters/Clusters.tsx
  frontend/src/components/Connect/Clusters/ui/List/Cells/ConnectorsCell.tsx
  frontend/src/components/Connect/Connect.tsx
  frontend/src/components/Connect/Header/Header.tsx
  frontend/src/lib/hooks/api/kafkaConnect.ts
Owners: @kafbat/frontend

FE: Add Plain UTC timezone
  frontend/src/lib/hooks/useTimezones.ts
Owners: @kafbat/frontend

FE: Add Plain UTC timezone (#1231)
  frontend/src/lib/hooks/useTimezones.ts
Owners: @kafbat/frontend

.github/CODEOWNERS:

*                           @kafbat/maintainers


# BACKEND
gradle/libs.versions.toml   @kafbat/backend
/build.gradle               @kafbat/backend
/gradle.properties          @kafbat/backend
/settings.gradle            @kafbat/backend
/gradle/                    @kafbat/backend
/contract/                  @kafbat/backend
/api/                       @kafbat/backend
/serde-api/                 @kafbat/backend
/documentation/compose/     @kafbat/backend

# FRONTEND
/frontend/                  @kafbat/frontend

# TESTS
/e2e-tests/                 @kafbat/qa

# INFRA
/.github/workflows/         @kafbat/devops
