Repository kafbat/kafka-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kafbat/maintainers, @kafbat/backend, @kafbat/frontend, @kafbat/qa, @kafbat/devops

.github/CODEOWNERS:

*                           @kafbat/maintainers


# BACKEND
/pom.xml                    @kafbat/backend
/contract/                  @kafbat/backend
/api/                       @kafbat/backend
/serde-api/                 @kafbat/backend
/documentation/compose/     @kafbat/backend

# FRONTEND
/frontend/                  @kafbat/frontend

# TESTS
/e2e-tests/                 @kafbat/qa

# INFRA
/.github/workflows/         @kafbat/devops

Closes #535, allowing to configure cors through spring properties
  api/src/main/java/io/kafbat/ui/config/CorsGlobalConfiguration.java
  api/src/main/java/io/kafbat/ui/config/CorsProperties.java
  api/src/main/resources/application.yml
Owners: @kafbat/backend

Correct checkstyle
  api/src/main/java/io/kafbat/ui/config/CorsProperties.java
Owners: @kafbat/backend

fix: move isReadOnly check from dropdown to list items
  frontend/src/components/Connect/List/ActionsCell.tsx
Owners: @kafbat/frontend

Update local compose
  .dev/dev_arm64.yaml
  documentation/compose/scripts/clusterID
  documentation/compose/scripts/create_cluster_id.sh
  documentation/compose/scripts/update_run.sh
  documentation/compose/scripts/update_run_cluster.sh
Owners: @kafbat/maintainers, @kafbat/backend

Fix logging
  api/src/main/java/io/kafbat/ui/service/rbac/extractor/OauthAuthorityExtractor.java
Owners: @kafbat/backend

Get hostname back
  .dev/dev_arm64.yaml
Owners: @kafbat/maintainers

Chore: Update local compose (#632)
  .dev/dev_arm64.yaml
  api/src/main/java/io/kafbat/ui/service/rbac/extractor/OauthAuthorityExtractor.java
  documentation/compose/scripts/clusterID
  documentation/compose/scripts/create_cluster_id.sh
  documentation/compose/scripts/update_run.sh
  documentation/compose/scripts/update_run_cluster.sh
Owners: @kafbat/maintainers, @kafbat/backend

Drop messages v1
  api/src/main/java/io/kafbat/ui/controller/MessagesController.java
  api/src/test/java/io/kafbat/ui/KafkaConsumerTests.java
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  frontend/src/lib/hooks/api/topicMessages.tsx
Owners: @kafbat/backend, @kafbat/frontend

fix Online Partitions column
  frontend/src/components/Brokers/BrokersList/TableCells/TableCells.tsx
  frontend/src/components/Brokers/BrokersList/lib/types.ts
  frontend/src/components/Brokers/BrokersList/lib/utils.ts
Owners: @kafbat/frontend

fix eslint problems
  frontend/src/components/Brokers/BrokersList/TableCells/TableCells.tsx
  frontend/src/components/Brokers/BrokersList/lib/utils.ts
Owners: @kafbat/frontend

refactor 'Online Partitions' column
  frontend/src/components/Brokers/BrokersList/TableCells/TableCells.tsx
  frontend/src/components/Brokers/BrokersList/lib/types.ts
  frontend/src/components/Brokers/BrokersList/lib/utils.ts
Owners: @kafbat/frontend

Misc
  api/src/main/java/io/kafbat/ui/controller/AuthenticationController.java
  api/src/main/java/io/kafbat/ui/controller/AuthorizationController.java
Owners: @kafbat/backend

Impl authentication page backend
  api/src/main/java/io/kafbat/ui/config/auth/AbstractAuthSecurityConfig.java
  api/src/main/java/io/kafbat/ui/controller/ApplicationConfigController.java
  api/src/main/java/io/kafbat/ui/service/ApplicationInfoService.java
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
Owners: @kafbat/backend

Closes #621
  api/src/main/java/io/kafbat/ui/controller/AclsController.java
  api/src/main/java/io/kafbat/ui/service/acl/AclsService.java
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  frontend/src/components/ACLPage/List/List.tsx
  frontend/src/lib/hooks/api/acl.ts
Owners: @kafbat/backend, @kafbat/frontend

Fix(List.tsx): remove unused variable
  frontend/src/components/ACLPage/List/List.tsx
Owners: @kafbat/frontend

Fix(acl.ts): lint warnings
  frontend/src/lib/hooks/api/acl.ts
Owners: @kafbat/frontend

chore(bump): bump java version to 21
  api/src/main/java/io/kafbat/ui/service/KafkaConnectService.java
Owners: @kafbat/backend

chore(bump): bump java version to 21
  e2e-tests/pom.xml
  pom.xml
Owners: @kafbat/qa, @kafbat/backend

chore(bump): bump java version to 21
  .github/workflows/backend_tests.yml
  .github/workflows/branch-deploy.yml
  .github/workflows/build-public-image.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/cve_checks.yml
  .github/workflows/e2e-run.yml
  .github/workflows/main.yml
  .github/workflows/release-serde-api.yml
  .github/workflows/release.yml
  .github/workflows/separate_env_public_create.yml
  api/Dockerfile
  api/src/main/java/io/kafbat/ui/client/RetryingKafkaConnectClient.java
  api/src/main/java/io/kafbat/ui/service/ConsumerGroupService.java
  api/src/main/java/io/kafbat/ui/service/KafkaConnectService.java
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  documentation/compose/connectors/start.sh
  documentation/compose/e2e-tests.yaml
  e2e-tests/pom.xml
  frontend/src/components/Brokers/Broker/Configs/lib/constants.ts
  pom.xml
  serde-api/pom.xml
Owners: @kafbat/devops, @kafbat/backend, @kafbat/qa, @kafbat/frontend

BE: Closes #71 Messages: Show headers duplicates
  api/src/main/java/io/kafbat/ui/emitter/MessageFilters.java
  api/src/main/java/io/kafbat/ui/serdes/ConsumerRecordDeserializer.java
  api/src/main/java/io/kafbat/ui/serdes/ProducerRecordCreator.java
  api/src/test/java/io/kafbat/ui/serdes/ConsumerRecordDeserializerTest.java
  api/src/test/java/io/kafbat/ui/serdes/ProducerRecordCreatorTest.java
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  frontend/src/components/Topics/Topic/Messages/Filters/InfoModal.tsx
  frontend/src/components/Topics/Topic/Messages/MessageContent/MessageContent.tsx
  frontend/src/components/Topics/Topic/Messages/MessageContent/__tests__/MessageContent.spec.tsx
Owners: @kafbat/backend, @kafbat/frontend

Deps: Use latest jre image
  api/Dockerfile
Owners: @kafbat/backend

Update dependabot.yml
  .github/dependabot.yml
Owners: @kafbat/maintainers

Update Dockerfile
  api/Dockerfile
Owners: @kafbat/backend

Update dependabot.yml
  .github/dependabot.yml
Owners: @kafbat/maintainers

Update dependabot.yml
  .github/dependabot.yml
Owners: @kafbat/maintainers

Update dependabot.yml
  .github/dependabot.yml
Owners: @kafbat/maintainers

refacto using static imports for resetConnectorOffsets actions
  api/src/main/java/io/kafbat/ui/controller/KafkaConnectController.java
Owners: @kafbat/backend

Fix prettier warnings
  frontend/src/components/Topics/Topic/Messages/Filters/InfoModal.tsx
Owners: @kafbat/frontend

Closes kafbat/kafka-ui #622
  frontend/src/components/Topics/Topic/Messages/Filters/AddEditFilterContainer.tsx
  frontend/src/components/Topics/Topic/Messages/Filters/Filters.styled.ts
  frontend/src/components/Topics/Topic/Messages/Filters/__tests__/AddEditFilterContainer.spec.tsx
Owners: @kafbat/frontend

tests: reset stopped connector
  api/src/test/java/io/kafbat/ui/KafkaConnectServiceTests.java
Owners: @kafbat/backend

kafka connect API get offsets
  contract/src/main/resources/swagger/kafka-connect-api.yaml
Owners: @kafbat/backend

FIX: Type casting errors
  api/src/main/java/io/kafbat/ui/service/TopicsService.java
  api/src/main/java/io/kafbat/ui/service/audit/AuditService.java
Owners: @kafbat/backend

Test bad request when resetting running connector
  api/src/test/java/io/kafbat/ui/KafkaConnectServiceTests.java
Owners: @kafbat/backend

Issues/300: rbac now supports regex for values
  api/src/main/java/io/kafbat/ui/service/rbac/extractor/OauthAuthorityExtractor.java
  api/src/test/java/io/kafbat/ui/config/ProviderAuthorityExtractorTest.java
  api/src/test/resources/roles_definition.yaml
Owners: @kafbat/backend

Issues/300: fix checkstyle
  api/src/test/java/io/kafbat/ui/config/ProviderAuthorityExtractorTest.java
Owners: @kafbat/backend

BE: Set default message polling mode
  api/src/main/java/io/kafbat/ui/controller/MessagesController.java
Owners: @kafbat/backend

Throw controlled BadRequest and NotFound errors for resetConnectorOffsets errors
  api/src/main/java/io/kafbat/ui/exception/ConnectorOffsetsResetException.java
  api/src/main/java/io/kafbat/ui/exception/ErrorCode.java
  api/src/main/java/io/kafbat/ui/service/KafkaConnectService.java
Owners: @kafbat/backend

Use Confluent 7.7 and fix tests for resetConnectorOffsets
  api/src/test/java/io/kafbat/ui/AbstractIntegrationTest.java
  api/src/test/java/io/kafbat/ui/KafkaConnectServiceTests.java
Owners: @kafbat/backend

typo in test
  api/src/test/java/io/kafbat/ui/KafkaConnectServiceTests.java
Owners: @kafbat/backend

retry on kafka connect test setup failure
  api/src/test/java/io/kafbat/ui/KafkaConnectServiceTests.java
Owners: @kafbat/backend
