Repository kafbat/kafka-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kafbat/maintainers, @kafbat/backend, @kafbat/frontend, @kafbat/qa, @kafbat/devops

BE: Cleanup in controller package
  api/src/main/java/io/kafbat/ui/controller/AccessController.java
  api/src/main/java/io/kafbat/ui/controller/KsqlController.java
  api/src/main/java/io/kafbat/ui/controller/TopicsController.java
  api/src/test/java/io/kafbat/ui/emitter/MessageFiltersTest.java
  contract/pom.xml
Owners: @kafbat/backend

add comments, change variable names, optimize config
  api/src/main/java/io/kafbat/ui/serdes/ProducerRecordCreator.java
  api/src/main/java/io/kafbat/ui/serdes/SerdeInstance.java
  serde-api/pom.xml
Owners: @kafbat/backend

BE: Add STOPPED connector state (#510)
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  contract/src/main/resources/swagger/kafka-connect-api.yaml
Owners: @kafbat/backend

Added Azure Entra Auth support
  api/pom.xml
  api/src/main/java/io/kafbat/ui/sasl/azure/entra/AzureEntraLoginCallbackHandler.java
  api/src/main/java/io/kafbat/ui/sasl/azure/entra/AzureEntraOAuthBearerTokenImpl.java
  frontend/src/lib/constants.ts
  frontend/src/widgets/ClusterConfigForm/schema.ts
  frontend/src/widgets/ClusterConfigForm/utils/getJaasConfig.ts
  frontend/src/widgets/ClusterConfigForm/utils/transformFormDataToPayload.ts
Owners: @kafbat/backend, @kafbat/frontend

Added LoginCallbackHandler and tests
  api/src/main/java/io/kafbat/ui/sasl/azure/entra/AzureEntraLoginCallbackHandler.java
  api/src/test/java/io/kafbat/ui/sasl/azure/entra/AzureEntraLoginCallbackHandlerTest.java
  api/src/test/java/io/kafbat/ui/sasl/azure/entra/AzureEntraOAuthBearerTokenImplTest.java
Owners: @kafbat/backend

Added Entra to ClusterConfigForm/schema.ts
  frontend/src/widgets/ClusterConfigForm/schema.ts
Owners: @kafbat/frontend

Fix connector config form validation mode
  frontend/src/components/Connect/Details/Config/Config.tsx
Owners: @kafbat/frontend

BE: Make gh version check timeout configurable
  api/src/main/java/io/kafbat/ui/service/ApplicationInfoService.java
  api/src/main/java/io/kafbat/ui/util/GithubReleaseInfo.java
  api/src/test/java/io/kafbat/ui/AbstractIntegrationTest.java
  api/src/test/java/io/kafbat/ui/service/ApplicationInfoServiceTest.java
  api/src/test/java/io/kafbat/ui/util/GithubReleaseInfoTest.java
Owners: @kafbat/backend

BE: KC: Fix connector listing with STOPPED state (#511)
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  contract/src/main/resources/swagger/kafka-connect-api.yaml
Owners: @kafbat/backend

BE: Fix KafkaConsumerGroupTests on Windows (#261)
  api/src/test/java/io/kafbat/ui/KafkaConsumerGroupTests.java
  api/src/test/java/io/kafbat/ui/service/acl/AclCsvTest.java
  api/src/test/java/io/kafbat/ui/service/acl/AclsServiceTest.java
Owners: @kafbat/backend

FE: UX: Fix header opacity (#505)
  frontend/src/theme/theme.ts
Owners: @kafbat/frontend

Minor polishing
  api/src/main/java/io/kafbat/ui/controller/AccessController.java
Owners: @kafbat/backend

update topic conotroller
  api/src/main/java/io/kafbat/ui/controller/TopicsController.java
Owners: @kafbat/backend

fix frontend
  api/src/main/java/io/kafbat/ui/controller/TopicsController.java
  api/src/main/java/io/kafbat/ui/model/rbac/permission/TopicAction.java
  frontend/src/components/Topics/Topic/Statistics/Metrics.tsx
Owners: @kafbat/backend, @kafbat/frontend

disbale statistics tab unless ANALYSIS_VIEW action is allowed
  frontend/src/components/Topics/Topic/Topic.tsx
Owners: @kafbat/frontend

remove MESSAGES_READ from ANALYSIS dependant actions
  api/src/main/java/io/kafbat/ui/model/rbac/permission/TopicAction.java
Owners: @kafbat/backend

restrict access to the topic analysis feature
  api/src/main/java/io/kafbat/ui/model/rbac/permission/TopicAction.java
  frontend/src/components/Topics/Topic/Statistics/Statistics.tsx
Owners: @kafbat/backend, @kafbat/frontend

Fix e2e compose command
  .github/workflows/e2e-run.yml
Owners: @kafbat/devops

Infra: Fix e2e compose run (#519)
  .github/workflows/e2e-run.yml
Owners: @kafbat/devops

BE: Chore: Use dto builders in controller package (#504)
  api/src/main/java/io/kafbat/ui/controller/AccessController.java
  api/src/main/java/io/kafbat/ui/controller/KsqlController.java
  api/src/main/java/io/kafbat/ui/controller/TopicsController.java
  api/src/test/java/io/kafbat/ui/emitter/MessageFiltersTest.java
  contract/pom.xml
Owners: @kafbat/backend

BE: RBAC: Impl separate permissions for topic analysis (#513)
  api/src/main/java/io/kafbat/ui/controller/TopicsController.java
  api/src/main/java/io/kafbat/ui/model/rbac/permission/TopicAction.java
  frontend/src/components/Topics/Topic/Statistics/Metrics.tsx
  frontend/src/components/Topics/Topic/Statistics/Statistics.tsx
  frontend/src/components/Topics/Topic/Topic.tsx
Owners: @kafbat/backend, @kafbat/frontend

Fixed overflow issue in consumer group names display
  frontend/src/components/common/NewTable/Table.styled.ts
Owners: @kafbat/frontend

Fixed Linter errors
  frontend/src/widgets/ClusterConfigForm/utils/getJaasConfig.ts
  frontend/src/widgets/ClusterConfigForm/utils/transformFormDataToPayload.ts
Owners: @kafbat/frontend

Implemented filtering for each field of the connectors grid.
  frontend/src/components/Connect/List/List.tsx
  frontend/src/components/Connect/List/ListPage.tsx
  frontend/src/components/common/Input/Input.styled.ts
  frontend/src/components/common/MultiSearch/MultiSearch.styled.ts
  frontend/src/components/common/MultiSearch/MultiSearch.tsx
  frontend/src/components/common/NewTable/Table.tsx
  frontend/src/components/common/Search/Search.tsx
  frontend/src/components/common/SearchAutocomplete/SearchAutocomplete.styled.ts
  frontend/src/components/common/SearchAutocomplete/SearchAutocomplete.tsx
Owners: @kafbat/frontend

Renamed AzureEntraOAuthBearerTokenImpl to AzureEntraOAuthBearerToken
  api/src/main/java/io/kafbat/ui/sasl/azure/entra/AzureEntraLoginCallbackHandler.java
  api/src/main/java/io/kafbat/ui/sasl/azure/entra/AzureEntraOAuthBearerToken.java
  api/src/test/java/io/kafbat/ui/sasl/azure/entra/AzureEntraOAuthBearerTokenTest.java
Owners: @kafbat/backend

Moved Azure Entra classes to io.kafbat.ui.config.auth.azure
  api/src/main/java/io/kafbat/ui/config/auth/azure/AzureEntraLoginCallbackHandler.java
  api/src/main/java/io/kafbat/ui/config/auth/azure/AzureEntraOAuthBearerToken.java
  api/src/test/java/io/kafbat/ui/config/auth/azure/AzureEntraLoginCallbackHandlerTest.java
  api/src/test/java/io/kafbat/ui/config/auth/azure/AzureEntraOAuthBearerTokenTest.java
Owners: @kafbat/backend

Use Lombok logger
  api/src/main/java/io/kafbat/ui/config/auth/azure/AzureEntraLoginCallbackHandler.java
  frontend/pnpm-lock.yaml
Owners: @kafbat/backend, @kafbat/frontend

Reverted pnpm changes
  frontend/pnpm-lock.yaml
Owners: @kafbat/frontend

Added new grid for cluster overview of kafka connectors
  documentation/compose/kafbat-ui.yaml
  frontend/.env
  frontend/src/components/Connect/List/ClusterVersionCell.tsx
  frontend/src/components/Connect/List/ClustersList.tsx
  frontend/src/components/Connect/List/ListPage.styled.ts
  frontend/src/components/Connect/List/ListPage.tsx
  frontend/src/lib/hooks/api/examples_mock_connectors.txt
Owners: @kafbat/backend, @kafbat/frontend

Removed max-width for the consumer group names
  frontend/src/components/common/NewTable/Table.styled.ts
Owners: @kafbat/frontend

Improved code for the cluster overview
  frontend/src/components/Connect/List/ClustersList.tsx
Owners: @kafbat/frontend

Added clusters overview grid for Kafka Connect
  frontend/.env
  frontend/src/components/Connect/List/ClusterVersionCell.tsx
  frontend/src/components/Connect/List/ClustersList.tsx
  frontend/src/lib/hooks/api/kafkaConnect.ts
Owners: @kafbat/frontend

Removed unnecessary things from code
  documentation/compose/kafbat-ui.yaml
  frontend/src/lib/hooks/api/examples_mock_connectors.txt
Owners: @kafbat/backend, @kafbat/frontend

Removed unnecessary things from code
  frontend/src/components/Connect/List/ListPage.tsx
Owners: @kafbat/frontend

BE: Make it possible to hide stacktraces in HTTP responses #536
  api/src/main/java/io/kafbat/ui/exception/GlobalErrorWebExceptionHandler.java
  api/src/main/resources/application-local.yml
  api/src/main/resources/application.yml
Owners: @kafbat/backend

IPD-1331 - Implemented filtering for each field of the connectors grid
  frontend/src/components/common/MultiSearch/MultiSearch.tsx
Owners: @kafbat/frontend

IPD-1388 - Fixed overflow issue in consumer group names display
  frontend/src/components/common/NewTable/Table.styled.ts
Owners: @kafbat/frontend

Enhanced fetch connect version with improved error handling and added build configuration
  frontend/src/components/Connect/List/ClustersList.tsx
  frontend/src/lib/hooks/api/kafkaConnect.ts
Owners: @kafbat/frontend

Fixed test issues
  frontend/src/components/Connect/List/__tests__/List.spec.tsx
  frontend/src/components/Connect/List/__tests__/ListPage.spec.tsx
Owners: @kafbat/frontend

Fixed text overflow issue in table cells for long names using media
  frontend/src/components/common/NewTable/Table.styled.ts
Owners: @kafbat/frontend

.github/CODEOWNERS:

*                           @kafbat/maintainers


# BACKEND
/pom.xml                    @kafbat/backend
/contract/                  @kafbat/backend
/api/                       @kafbat/backend
/serde-api/                 @kafbat/backend
/documentation/compose/     @kafbat/backend

# FRONTEND
/frontend/                  @kafbat/frontend

# TESTS
/e2e-tests/                 @kafbat/qa

# INFRA
/.github/workflows/         @kafbat/devops
