Repository kafbat/kafka-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kafbat/maintainers, @kafbat/backend, @kafbat/frontend, @kafbat/qa, @kafbat/devops

.github/CODEOWNERS:

*                           @kafbat/maintainers


# BACKEND
/pom.xml                    @kafbat/backend

/kafka-ui-contract/         @kafbat/backend

/kafka-ui-api/              @kafbat/backend

# FRONTEND
/kafka-ui-react-app/        @kafbat/frontend

# TESTS
/kafka-ui-e2e-checks/       @kafbat/qa

# INFRA
/.github/workflows/         @kafbat/devops

Update links, hide features under the spoiler
  README.md
Owners: @kafbat/maintainers

Fix clone action
  .github/workflows/backend.yml
  .github/workflows/branch-deploy.yml
  .github/workflows/branch-remove.yml
  .github/workflows/build-public-image.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/cve.yaml
  .github/workflows/documentation.yaml
  .github/workflows/e2e-automation.yml
  .github/workflows/e2e-checks.yaml
  .github/workflows/e2e-manual.yml
  .github/workflows/e2e-weekly.yml
  .github/workflows/frontend.yaml
  .github/workflows/master.yaml
  .github/workflows/release-serde-api.yaml
  .github/workflows/release.yaml
  .github/workflows/separate_env_public_create.yml
  .github/workflows/workflow_linter.yaml
Owners: @kafbat/devops

Fix checkstyle
  kafka-ui-api/src/main/java/io/kafbat/ui/controller/MessagesController.java
  kafka-ui-api/src/main/java/io/kafbat/ui/emitter/MessageFilters.java
  kafka-ui-api/src/main/java/io/kafbat/ui/serdes/builtin/AvroEmbeddedSerde.java
  kafka-ui-api/src/main/java/io/kafbat/ui/serdes/builtin/Base64Serde.java
  kafka-ui-api/src/main/java/io/kafbat/ui/serdes/builtin/Int64Serde.java
  kafka-ui-api/src/main/java/io/kafbat/ui/serdes/builtin/ProtobufFileSerde.java
  kafka-ui-api/src/main/java/io/kafbat/ui/serdes/builtin/ProtobufRawSerde.java
  kafka-ui-api/src/main/java/io/kafbat/ui/serdes/builtin/UInt32Serde.java
  kafka-ui-api/src/main/java/io/kafbat/ui/serdes/builtin/UuidBinarySerde.java
  kafka-ui-api/src/main/java/io/kafbat/ui/serdes/builtin/sr/MessageFormatter.java
  kafka-ui-api/src/main/java/io/kafbat/ui/serdes/builtin/sr/SchemaRegistrySerde.java
  kafka-ui-api/src/main/java/io/kafbat/ui/serdes/builtin/sr/Serialize.java
  kafka-ui-api/src/main/java/io/kafbat/ui/service/audit/AuditService.java
  kafka-ui-api/src/main/java/io/kafbat/ui/service/integration/odd/schema/DataSetFieldsExtractors.java
  kafka-ui-api/src/main/java/io/kafbat/ui/service/rbac/extractor/CognitoAuthorityExtractor.java
  kafka-ui-api/src/main/java/io/kafbat/ui/service/rbac/extractor/GithubAuthorityExtractor.java
  kafka-ui-api/src/main/java/io/kafbat/ui/service/rbac/extractor/GoogleAuthorityExtractor.java
  kafka-ui-api/src/main/java/io/kafbat/ui/service/rbac/extractor/OauthAuthorityExtractor.java
  kafka-ui-api/src/main/java/io/kafbat/ui/util/jsonschema/JsonAvroConversion.java
  kafka-ui-api/src/test/java/io/kafbat/ui/serdes/builtin/AvroEmbeddedSerdeTest.java
  kafka-ui-api/src/test/java/io/kafbat/ui/serdes/builtin/ProtobufFileSerdeTest.java
  kafka-ui-api/src/test/java/io/kafbat/ui/serdes/builtin/ProtobufRawSerdeTest.java
  kafka-ui-api/src/test/java/io/kafbat/ui/serdes/builtin/sr/SchemaRegistrySerdeTest.java
  kafka-ui-api/src/test/java/io/kafbat/ui/service/SendAndReadTests.java
  kafka-ui-api/src/test/java/io/kafbat/ui/util/jsonschema/JsonAvroConversionTest.java
Owners: @kafbat/backend

Fix frontend checkstyle -_-
  kafka-ui-react-app/src/components/NavBar/NavBar.tsx
Owners: @kafbat/frontend

Fix e2e checkstyle -_-
  kafka-ui-e2e-checks/src/main/java/io/kafbat/ui/utilities/qase/QaseSetup.java
  kafka-ui-e2e-checks/src/test/java/io/kafbat/ui/BaseTest.java
  kafka-ui-e2e-checks/src/test/java/io/kafbat/ui/manualsuite/BaseManualTest.java
  kafka-ui-e2e-checks/src/test/java/io/kafbat/ui/manualsuite/backlog/SmokeBacklog.java
  kafka-ui-e2e-checks/src/test/java/io/kafbat/ui/smokesuite/connectors/ConnectorsTest.java
  kafka-ui-e2e-checks/src/test/java/io/kafbat/ui/smokesuite/ksqldb/KsqlDbTest.java
  kafka-ui-e2e-checks/src/test/java/io/kafbat/ui/smokesuite/topics/TopicsTest.java
Owners: @kafbat/qa

Temporarily disable sonar
  .github/workflows/backend.yml
  .github/workflows/frontend.yaml
Owners: @kafbat/devops

Temporarily disable pr enforcer job
  .github/workflows/pr-checks.yaml
Owners: @kafbat/devops

Disable dockerhub stuff
  .github/workflows/master.yaml
  .github/workflows/release.yaml
Owners: @kafbat/devops

Disable infra stuff
  .github/workflows/master.yaml
Owners: @kafbat/devops
