Repository kafbat/kafka-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kafbat/maintainers, @kafbat/backend, @kafbat/frontend, @kafbat/qa, @kafbat/devops

.github/CODEOWNERS:

*                           @kafbat/maintainers


# BACKEND
/pom.xml                    @kafbat/backend
/contract/                  @kafbat/backend
/api/                       @kafbat/backend
/serde-api/                 @kafbat/backend
/documentation/compose/     @kafbat/backend

# FRONTEND
/frontend/                  @kafbat/frontend

# TESTS
/e2e-tests/                 @kafbat/qa

# INFRA
/.github/workflows/         @kafbat/devops

add some fixes
  .github/workflows/docker_build.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
Owners: @kafbat/devops

update docker_build.yml
  .github/workflows/branch-deploy.yml
  .github/workflows/build-public-image.yml
  .github/workflows/cve_checks.yml
Owners: @kafbat/devops

Closes #592
  api/src/main/java/io/kafbat/ui/service/acl/AclsService.java
Owners: @kafbat/backend

FE: Unnecessary full page re-rendering
  frontend/src/components/PageContainer/PageContainer.tsx
Owners: @kafbat/frontend

FE: Fix unnecessary full page re-rendering (#594)
  frontend/src/components/PageContainer/PageContainer.tsx
Owners: @kafbat/frontend

Fix checkstyle
  api/src/main/java/io/kafbat/ui/controller/ConsumerGroupsController.java
  api/src/main/java/io/kafbat/ui/service/ConsumerGroupService.java
Owners: @kafbat/backend

Fix checkstyle
  api/src/main/java/io/kafbat/ui/service/ConsumerGroupService.java
Owners: @kafbat/backend

let use env variable for ecr registry
  .github/workflows/build-public-image.yml
Owners: @kafbat/devops

add github permissions
  .github/workflows/build-public-image.yml
Owners: @kafbat/devops

test
  .github/workflows/build-public-image.yml
Owners: @kafbat/devops

Infra: ECR Build minor fixes (#580)
  .github/workflows/build-public-image.yml
Owners: @kafbat/devops

Consumers: Unsubscribe topics from consumer group (#549)
  api/src/main/java/io/kafbat/ui/controller/ConsumerGroupsController.java
  api/src/main/java/io/kafbat/ui/service/ConsumerGroupService.java
  api/src/main/java/io/kafbat/ui/service/ReactiveAdminClient.java
  api/src/test/java/io/kafbat/ui/KafkaConsumerGroupTests.java
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  frontend/src/components/ConsumerGroups/Details/ListItem.tsx
  frontend/src/lib/hooks/api/consumers.ts
Owners: @kafbat/backend, @kafbat/frontend

FE: Fix display of ACLs with leading/trailing spaces in table (#591)
  frontend/src/components/common/NewTable/Table.styled.ts
Owners: @kafbat/frontend

Fix security vulnerabilities CVE-2023-42363 CVE-2023-42364 CVE-2023-42365 CVE-2023-4236024-4741 CVE-2024-5535 CVE-2024-6119 CVE-2024-7254 CVE-2024-22257 CVE-2024-21634
  api/Dockerfile
  pom.xml
Owners: @kafbat/backend

Closes #592
  api/src/main/java/io/kafbat/ui/service/acl/AclsService.java
Owners: @kafbat/backend

Fix failed acl tests
  api/src/test/java/io/kafbat/ui/service/acl/AclsServiceTest.java
Owners: @kafbat/backend

Fix failed acl tests
  api/src/test/java/io/kafbat/ui/service/acl/AclsServiceTest.java
Owners: @kafbat/backend

chore(bump): bump framework versions
  api/pom.xml
  api/src/test/java/io/kafbat/ui/serdes/PropertyResolverImplTest.java
  api/src/test/java/io/kafbat/ui/service/ksql/KsqlApiClientTest.java
  pom.xml
Owners: @kafbat/backend

fix datepicker time
  frontend/package.json
  frontend/pnpm-lock.yaml
Owners: @kafbat/frontend

feat(broker-configs): adjust edit button state in read-only mode
  frontend/src/components/Brokers/Broker/Configs/TableComponents/InputCell/InputCellViewMode.tsx
  frontend/src/components/Brokers/Broker/Configs/TableComponents/InputCell/__test__/InputCellViewMode.spec.tsx
  frontend/src/components/Brokers/Broker/Configs/TableComponents/InputCell/index.tsx
Owners: @kafbat/frontend

fix Online Partitions column
  frontend/src/components/Brokers/BrokersList/TableCells/TableCells.tsx
  frontend/src/components/Brokers/BrokersList/lib/types.ts
  frontend/src/components/Brokers/BrokersList/lib/utils.ts
Owners: @kafbat/frontend

fix eslint problems
  frontend/src/components/Brokers/BrokersList/TableCells/TableCells.tsx
  frontend/src/components/Brokers/BrokersList/lib/utils.ts
Owners: @kafbat/frontend

fix(broker-configs): add empty lines between imports to pass the test
  frontend/src/components/Brokers/Broker/Configs/TableComponents/InputCell/InputCellViewMode.tsx
Owners: @kafbat/frontend

fix(broker-configs): remove empty lines to satisfy the linter
  frontend/src/components/Brokers/Broker/Configs/TableComponents/InputCell/InputCellViewMode.tsx
  frontend/src/components/Brokers/Broker/Configs/TableComponents/InputCell/index.tsx
Owners: @kafbat/frontend

fix(broker-configs): add cluster context isReadOnly to InputCellViewMode test spec
  frontend/src/components/Brokers/Broker/Configs/TableComponents/InputCell/__test__/InputCellViewMode.spec.tsx
Owners: @kafbat/frontend

chore(bump): bump framework versions
  api/pom.xml
  pom.xml
Owners: @kafbat/backend

chore(bump): bump framework versions
  api/pom.xml
Owners: @kafbat/backend

fix(broker-configs): set isReadOnly as a prop
  frontend/src/components/Brokers/Broker/Configs/TableComponents/InputCell/InputCellViewMode.tsx
  frontend/src/components/Brokers/Broker/Configs/TableComponents/InputCell/__test__/InputCellViewMode.spec.tsx
  frontend/src/components/Brokers/Broker/Configs/TableComponents/InputCell/index.tsx
  frontend/src/components/Brokers/Broker/Configs/lib/utils.tsx
Owners: @kafbat/frontend

fix(broker-configs): add necessary fixes to satisfy the tests
  frontend/src/components/Brokers/Broker/Configs/TableComponents/InputCell/InputCellViewMode.tsx
  frontend/src/components/Brokers/Broker/Configs/TableComponents/InputCell/index.tsx
  frontend/src/components/Brokers/Broker/Configs/lib/utils.tsx
Owners: @kafbat/frontend

fix(broker-configs): add more fixes to satisfy the tests
  frontend/src/components/Brokers/Broker/Configs/TableComponents/InputCell/InputCellViewMode.tsx
  frontend/src/components/Brokers/Broker/Configs/TableComponents/InputCell/index.tsx
  frontend/src/components/Brokers/Broker/Configs/lib/utils.tsx
Owners: @kafbat/frontend

fix(broker-configs): add/remove blank lines to satisfy the tests
  frontend/src/components/Brokers/Broker/Configs/lib/utils.tsx
Owners: @kafbat/frontend

BE: Chore: Bump Spring Boot w/ dependencies (#606)
  api/pom.xml
  api/src/test/java/io/kafbat/ui/serdes/PropertyResolverImplTest.java
  api/src/test/java/io/kafbat/ui/service/ksql/KsqlApiClientTest.java
  pom.xml
Owners: @kafbat/backend

UX: Messages: Use "Newest" as default mode (#579)
  frontend/src/lib/hooks/filterUtils.ts
Owners: @kafbat/frontend

Brokers: Improve accessibility for r/o clusters (#556)
  api/src/main/java/io/kafbat/ui/config/ReadOnlyModeFilter.java
  api/src/main/java/io/kafbat/ui/model/InternalBrokerConfig.java
  api/src/main/java/io/kafbat/ui/service/BrokerService.java
  frontend/src/components/Brokers/Broker/Configs/TableComponents/InputCell/InputCellViewMode.tsx
  frontend/src/components/Brokers/Broker/Configs/TableComponents/InputCell/styled.ts
Owners: @kafbat/backend, @kafbat/frontend

FE: Bump datepicker (#605)
  frontend/package.json
  frontend/pnpm-lock.yaml
Owners: @kafbat/frontend

Update cve_checks.yml with SHORT_SHA
  .github/workflows/cve_checks.yml
Owners: @kafbat/devops

feat(connectors): disable connector ActionsCell in cluster RO mode
  frontend/src/components/Connect/List/ActionsCell.tsx
Owners: @kafbat/frontend

Update pom.xml
  api/pom.xml
Owners: @kafbat/backend

Chore: Deps: Bump aws sdk (#618)
  api/pom.xml
Owners: @kafbat/backend

BE: ACL: Consumers preset now include DESCRIBE permission for CG (#593)
  api/src/main/java/io/kafbat/ui/service/acl/AclsService.java
  api/src/test/java/io/kafbat/ui/service/acl/AclsServiceTest.java
Owners: @kafbat/backend
