Repository kafbat/kafka-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kafbat/maintainers, @kafbat/backend, @kafbat/frontend, @kafbat/qa, @kafbat/devops

Disable the "Remove Connector" button if the action is not allowed for the user
  frontend/src/components/Connect/List/ActionsCell.tsx
Owners: @kafbat/frontend

Bump pnpm
  frontend/package.json
Owners: @kafbat/frontend

Disable reset offsets button when connector is not stopped
  frontend/src/components/Connect/Details/Actions/Actions.tsx
  frontend/src/components/Connect/List/ActionsCell.tsx
Owners: @kafbat/frontend

Add Delete Offsets
  api/pom.xml
  api/src/main/java/io/kafbat/ui/controller/ConsumerGroupsController.java
  api/src/main/java/io/kafbat/ui/model/rbac/permission/ConsumerGroupAction.java
  api/src/main/java/io/kafbat/ui/service/ConsumerGroupService.java
  api/src/main/java/io/kafbat/ui/service/ReactiveAdminClient.java
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  frontend/src/components/ConsumerGroups/Details/ListItem.tsx
  frontend/src/lib/hooks/api/consumers.ts
Owners: @kafbat/backend, @kafbat/frontend

Frontend remove danger
  frontend/src/components/ConsumerGroups/Details/ListItem.tsx
Owners: @kafbat/frontend

Fix style
  api/src/main/java/io/kafbat/ui/controller/ConsumerGroupsController.java
Owners: @kafbat/backend

Update frontend_tests.yml
  .github/workflows/frontend_tests.yml
Owners: @kafbat/devops

Update pom.xml
  pom.xml
Owners: @kafbat/backend

Infra: FE: Bump pnpm (#567)
  .github/workflows/frontend_tests.yml
  frontend/package.json
  pom.xml
Owners: @kafbat/devops, @kafbat/frontend, @kafbat/backend

Add frontend tests of connector reset
  frontend/src/components/Connect/Details/Actions/__tests__/Actions.spec.tsx
  frontend/src/components/Connect/List/__tests__/List.spec.tsx
Owners: @kafbat/frontend

Add frontend tests for the reset connector offsets button
  frontend/src/components/Connect/Details/Actions/__tests__/Actions.spec.tsx
Owners: @kafbat/frontend

Fix code formatting and typos
  api/src/main/java/io/kafbat/ui/client/RetryingKafkaConnectClient.java
  api/src/main/java/io/kafbat/ui/controller/KafkaConnectController.java
  frontend/src/components/Connect/Details/Actions/Actions.tsx
  frontend/src/components/Connect/Details/Actions/__tests__/Actions.spec.tsx
  frontend/src/components/Connect/List/ActionsCell.tsx
Owners: @kafbat/backend, @kafbat/frontend

Fix the confirmation message
  frontend/src/components/Connect/Details/Actions/Actions.tsx
  frontend/src/components/Connect/List/ActionsCell.tsx
Owners: @kafbat/frontend

fix missing resetConnectorOffsets mock in frontend unit tests
  frontend/src/components/Connect/Details/Actions/__tests__/Actions.spec.tsx
  frontend/src/components/Connect/List/__tests__/List.spec.tsx
Owners: @kafbat/frontend

Closes #535, allowing to configure cors through spring properties
  api/src/main/java/io/kafbat/ui/config/CorsGlobalConfiguration.java
  api/src/main/java/io/kafbat/ui/config/CorsProperties.java
  api/src/main/resources/application.yml
Owners: @kafbat/backend

Added mono block for retrieving release information
  api/src/main/java/io/kafbat/ui/util/GithubReleaseInfo.java
Owners: @kafbat/backend

Moved the mono instantiation from constructor to refresh method
  api/src/main/java/io/kafbat/ui/service/ApplicationInfoService.java
  api/src/main/java/io/kafbat/ui/util/GithubReleaseInfo.java
  api/src/test/java/io/kafbat/ui/util/GithubReleaseInfoTest.java
Owners: @kafbat/backend

UX: Allow Ctrl + F/Searching inside Schema Registry
  frontend/src/components/common/Editor/Editor.tsx
Owners: @kafbat/frontend

Closes 570
  frontend/src/lib/hooks/filterUtils.ts
Owners: @kafbat/frontend

UX: Allow searching inside code textareas (#578)
  frontend/src/components/common/Editor/Editor.tsx
Owners: @kafbat/frontend

Revert "format kafkbat-ui openapi definition"
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
Owners: @kafbat/backend

Revert formatting changes in "Add a dropdown option to reset the offsets of stopped connectors"
  api/src/main/java/io/kafbat/ui/controller/KafkaConnectController.java
  api/src/main/java/io/kafbat/ui/service/KafkaConnectService.java
  contract/src/main/resources/swagger/kafka-connect-api.yaml
Owners: @kafbat/backend

Revert formatting changes in "Fix code formatting and typos"
  api/src/main/java/io/kafbat/ui/client/RetryingKafkaConnectClient.java
  api/src/main/java/io/kafbat/ui/controller/KafkaConnectController.java
  frontend/src/components/Connect/Details/Actions/__tests__/Actions.spec.tsx
  frontend/src/components/Connect/List/ActionsCell.tsx
Owners: @kafbat/backend, @kafbat/frontend

revert formatting changes to the controller
  api/src/main/java/io/kafbat/ui/controller/KafkaConnectController.java
Owners: @kafbat/backend

fix frontend tests
  frontend/src/components/Connect/Details/Actions/__tests__/Actions.spec.tsx
  frontend/src/components/Connect/List/__tests__/List.spec.tsx
  frontend/src/lib/fixtures/kafkaConnect.ts
Owners: @kafbat/frontend

fix prettier linter checks
  frontend/src/components/Connect/Details/Actions/__tests__/Actions.spec.tsx
  frontend/src/components/Connect/List/ActionsCell.tsx
  frontend/src/components/Connect/List/__tests__/List.spec.tsx
Owners: @kafbat/frontend

Improve refresh behaviour on connector actions
  frontend/src/components/Connect/Details/Actions/Actions.tsx
  frontend/src/lib/hooks/api/kafkaConnect.ts
Owners: @kafbat/frontend

Lint
  .github/workflows/docker_publish.yml
  .github/workflows/main.yml
Owners: @kafbat/devops

Infra: Add actions to publish to ECR & Docker Hub (#347)
  .github/workflows/docker_build.yml
  .github/workflows/docker_publish.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
Owners: @kafbat/devops

create reusable workflow for docker build
  .github/workflows/branch-deploy.yml
  .github/workflows/build-docker.yml
  .github/workflows/build-public-image.yml
  .github/workflows/cve_checks.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
Owners: @kafbat/devops

chore: remove unused imports
  api/src/main/java/io/kafbat/ui/controller/ConsumerGroupsController.java
  api/src/main/java/io/kafbat/ui/service/ConsumerGroupService.java
  api/src/main/java/io/kafbat/ui/service/ReactiveAdminClient.java
Owners: @kafbat/backend

use exact name instead output variable
  .github/workflows/docker_publish.yml
Owners: @kafbat/devops

get repo name from var
  .github/workflows/docker_publish.yml
Owners: @kafbat/devops

Infra: Fix ECR push action (#586)
  .github/workflows/docker_publish.yml
Owners: @kafbat/devops

fix env reference
  .github/workflows/docker_publish.yml
Owners: @kafbat/devops

Infra: Fix ECR push action (#588)
  .github/workflows/docker_publish.yml
Owners: @kafbat/devops

updated for main branch
  .github/workflows/branch-deploy.yml
  .github/workflows/build-docker.yml
  .github/workflows/build-public-image.yml
  .github/workflows/cve_checks.yml
  .github/workflows/docker_build.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
Owners: @kafbat/devops

little fix
  .github/workflows/main.yml
Owners: @kafbat/devops

Closes #590
  frontend/src/components/common/NewTable/Table.styled.ts
Owners: @kafbat/frontend

update main
  .github/workflows/main.yml
Owners: @kafbat/devops

.github/CODEOWNERS:

*                           @kafbat/maintainers


# BACKEND
/pom.xml                    @kafbat/backend
/contract/                  @kafbat/backend
/api/                       @kafbat/backend
/serde-api/                 @kafbat/backend
/documentation/compose/     @kafbat/backend

# FRONTEND
/frontend/                  @kafbat/frontend

# TESTS
/e2e-tests/                 @kafbat/qa

# INFRA
/.github/workflows/         @kafbat/devops
