Repository kafbat/kafka-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kafbat/maintainers, @kafbat/backend, @kafbat/frontend, @kafbat/qa, @kafbat/devops

fix #620 : support sending null headers in POST send message request
  api/src/main/java/io/kafbat/ui/serdes/ProducerRecordCreator.java
Owners: @kafbat/backend

tests : added a send messsage test that verify null values in headers is functional
  api/src/test/java/io/kafbat/ui/service/SendAndReadTests.java
Owners: @kafbat/backend

BE: Set default message polling mode
  api/src/main/java/io/kafbat/ui/controller/MessagesController.java
Owners: @kafbat/backend

Handle error 500 by repeating the kafka connect test setUp
  api/src/test/java/io/kafbat/ui/KafkaConnectServiceTests.java
Owners: @kafbat/backend

Optimistic creation of test connectors. Check existence and ignore create errors.
  api/src/test/java/io/kafbat/ui/KafkaConnectServiceTests.java
Owners: @kafbat/backend

cleanup
  api/src/test/java/io/kafbat/ui/KafkaConnectServiceTests.java
Owners: @kafbat/backend

Fix e2e compose
  documentation/compose/e2e-tests.yaml
Owners: @kafbat/backend

Infra: Fix e2e compose (#655)
  documentation/compose/e2e-tests.yaml
Owners: @kafbat/backend

fix: CEL filtering expression
  api/pom.xml
  api/src/test/java/io/kafbat/ui/emitter/CelTypedValidationTest.java
  api/src/test/java/io/kafbat/ui/emitter/CelValidationTest.java
  api/src/test/java/io/kafbat/ui/emitter/MessageFiltersTest.java
  pom.xml
Owners: @kafbat/backend

Issues/300: Other extractors handle regex as values.
  api/src/main/java/io/kafbat/ui/service/rbac/extractor/CognitoAuthorityExtractor.java
  api/src/main/java/io/kafbat/ui/service/rbac/extractor/GithubAuthorityExtractor.java
  api/src/main/java/io/kafbat/ui/service/rbac/extractor/GoogleAuthorityExtractor.java
  api/src/main/java/io/kafbat/ui/service/rbac/extractor/OauthAuthorityExtractor.java
  api/src/test/java/io/kafbat/ui/config/ProviderAuthorityExtractorTest.java
  api/src/test/java/io/kafbat/ui/config/RegexBasedProviderAuthorityExtractorTest.java
  api/src/test/resources/roles_definition.yaml
Owners: @kafbat/backend

Issues/300: Log message now reflects the new matching strategy
  api/src/main/java/io/kafbat/ui/service/rbac/extractor/OauthAuthorityExtractor.java
Owners: @kafbat/backend

Chore: Deps: Use latest 17 jre image (#639)
  .github/dependabot.yml
  api/Dockerfile
Owners: @kafbat/maintainers, @kafbat/backend

BE: Set default message polling mode (#649)
  api/src/main/java/io/kafbat/ui/controller/MessagesController.java
Owners: @kafbat/backend

Add POST auth endpoint
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
Owners: @kafbat/backend

feat: auth page
  frontend/src/components/App.tsx
  frontend/src/components/AuthPage/AuthPage.tsx
  frontend/src/components/AuthPage/Footer/Footer.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/AuthCard/AuthCard.styled.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/AuthCard/AuthCard.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/OAuthSignIn.styled.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/OAuthSignIn.tsx
  frontend/src/components/AuthPage/SignIn/ServiceSignIn/ServiceSignIn.tsx
  frontend/src/components/AuthPage/SignIn/SignIn.tsx
  frontend/src/components/common/Button/Button.tsx
  frontend/src/lib/hooks/api/appConfig.ts
Owners: @kafbat/frontend

BE: Support sending null headers (#651)
  api/src/main/java/io/kafbat/ui/serdes/ProducerRecordCreator.java
  api/src/test/java/io/kafbat/ui/service/SendAndReadTests.java
Owners: @kafbat/backend

Added contract profile, to only build API. Local profile now builds frontend
  api/pom.xml
  pom.xml
Owners: @kafbat/backend

docs(README): 'Authentification' -> 'Authentication'
  README.md
Owners: @kafbat/maintainers

feat: Add support for custom root certificates in Java keystore
  api/Dockerfile
Owners: @kafbat/backend

feat: Add support for custom root certificates in Java keystore
  api/Dockerfile
Owners: @kafbat/backend

feat: Add support for custom root certificates in Java keystore
  api/Dockerfile
Owners: @kafbat/backend

feat: Add support for custom root certificates in Java keystore
  api/Dockerfile
Owners: @kafbat/backend

feat: Add support for custom root certificates in Java keystore
  api/Dockerfile
  api/import-certs.sh
Owners: @kafbat/backend

feat: Add support for custom root certificates in Java keystore
  api/Dockerfile
Owners: @kafbat/backend

resolves kafbat/kafka-ui#90 Moved parent modules section into profiles Added default profile to build all modules. UI now only runs with local / prod profiles, but skipped by default
  api/pom.xml
  pom.xml
Owners: @kafbat/backend

rollback auto format
  api/pom.xml
Owners: @kafbat/backend

Docs: Fix typo (#670)
  README.md
Owners: @kafbat/maintainers

FE: Filters: Display CEL help when editing filter (#646)
  frontend/src/components/Topics/Topic/Messages/Filters/AddEditFilterContainer.tsx
  frontend/src/components/Topics/Topic/Messages/Filters/Filters.styled.ts
  frontend/src/components/Topics/Topic/Messages/Filters/__tests__/AddEditFilterContainer.spec.tsx
Owners: @kafbat/frontend

MINOR: Logger unification
  api/src/main/java/io/kafbat/ui/config/auth/OAuthSecurityConfig.java
Owners: @kafbat/backend

Fix nullable cluster perms check. Fixes #677
  api/src/main/java/io/kafbat/ui/service/rbac/AccessControlService.java
Owners: @kafbat/backend

BE: Get rid of old Log4j annotation (#676)
  api/src/main/java/io/kafbat/ui/config/auth/OAuthSecurityConfig.java
Owners: @kafbat/backend

FE: Bump braces
  frontend/package.json
  frontend/pnpm-lock.yaml
Owners: @kafbat/frontend

fixes: avro schema ser for nullable enums
  api/src/main/java/io/kafbat/ui/util/jsonschema/AvroJsonSchemaConverter.java
  api/src/test/java/io/kafbat/ui/util/jsonschema/AvroJsonSchemaConverterTest.java
  api/src/test/java/io/kafbat/ui/util/jsonschema/JsonAvroConversionTest.java
Owners: @kafbat/backend

FE: Fix Default Consumer's Lag Value
  frontend/src/components/ConsumerGroups/List.tsx
Owners: @kafbat/frontend

BE: Wizard: Fix nullable cluster perms check (#678)
  api/src/main/java/io/kafbat/ui/service/rbac/AccessControlService.java
Owners: @kafbat/backend

BE: CVE fixes
  api/pom.xml
  pom.xml
Owners: @kafbat/backend

BE: CVE fixes
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  frontend/src/components/Brokers/Broker/Configs/lib/constants.ts
Owners: @kafbat/backend, @kafbat/frontend

BE: CVE fixes
  frontend/src/components/Brokers/Broker/Configs/lib/constants.ts
Owners: @kafbat/frontend

BE: CVE fixes (#691)
  api/pom.xml
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  frontend/src/components/Brokers/Broker/Configs/lib/constants.ts
  pom.xml
Owners: @kafbat/backend, @kafbat/frontend

removed skipUIbuild, declared frontend as separate maven module with pom packaging
  api/pom.xml
  frontend/pom.xml
  pom.xml
Owners: @kafbat/backend, @kafbat/frontend

.github/CODEOWNERS:

*                           @kafbat/maintainers


# BACKEND
/pom.xml                    @kafbat/backend
/contract/                  @kafbat/backend
/api/                       @kafbat/backend
/serde-api/                 @kafbat/backend
/documentation/compose/     @kafbat/backend

# FRONTEND
/frontend/                  @kafbat/frontend

# TESTS
/e2e-tests/                 @kafbat/qa

# INFRA
/.github/workflows/         @kafbat/devops
