Repository kafbat/kafka-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kafbat/maintainers, @kafbat/backend, @kafbat/frontend, @kafbat/qa, @kafbat/devops

linter issues fix
  frontend/src/components/Topics/Topic/Messages/MessagesTable.tsx
Owners: @kafbat/frontend

lint fixes
  frontend/src/components/Topics/Topic/Messages/MessagesTable.tsx
Owners: @kafbat/frontend

BE: RBAC: Impl Active Directory populator (#717)
  api/src/main/java/io/kafbat/ui/config/auth/LdapSecurityConfig.java
  api/src/main/java/io/kafbat/ui/service/AdminClientServiceImpl.java
  api/src/main/java/io/kafbat/ui/service/rbac/extractor/RbacActiveDirectoryAuthoritiesExtractor.java
Owners: @kafbat/backend

Update copyright year
  LICENSE
Owners: @kafbat/maintainers

BE: RBAC: Add integration test for Active Directory auth
  api/src/test/java/io/kafbat/ui/ActiveDirectoryIntegrationTest.java
  api/src/test/java/io/kafbat/ui/container/ActiveDirectoryContainer.java
  api/src/test/resources/application-rbac-ad.yml
Owners: @kafbat/backend

BE: RBAC: Add integration test for Active Directory auth
  .github/workflows/backend_tests.yml
Owners: @kafbat/devops

BE: RBAC: Add integration test for Active Directory auth
  .github/workflows/backend_tests.yml
Owners: @kafbat/devops

bruh
  .github/workflows/cve_checks.yml
  .github/workflows/infra_discord_hook.yml
Owners: @kafbat/devops

Infra: Implement discord notification for failed CVE checks
  .github/workflows/cve_checks.yml
  .github/workflows/infra_discord_hook.yml
Owners: @kafbat/devops

Upd msg
  .github/workflows/cve_checks.yml
Owners: @kafbat/devops

Infra: Discord hook for failed CVE runs (#219)
  .github/workflows/cve_checks.yml
  .github/workflows/infra_discord_hook.yml
Owners: @kafbat/devops

adapt to connect retry mechanism
  api/src/main/java/io/kafbat/ui/client/RetryingKafkaConnectClient.java
  api/src/test/java/io/kafbat/ui/KafkaConnectServiceTests.java
Owners: @kafbat/backend

rollback test workaround leftovers
  api/src/test/java/io/kafbat/ui/KafkaConnectServiceTests.java
Owners: @kafbat/backend

rollback forced typing leftovers
  api/src/main/java/io/kafbat/ui/service/TopicsService.java
  api/src/main/java/io/kafbat/ui/service/audit/AuditService.java
Owners: @kafbat/backend

fix indent
  api/src/main/java/io/kafbat/ui/service/TopicsService.java
Owners: @kafbat/backend

test
  pom.xml
Owners: @kafbat/backend

Infra: FE: Enforce pnpm using a range
  frontend/package.json
Owners: @kafbat/frontend

Infra: FE: migrate to node 22
  .github/workflows/frontend_tests.yml
  frontend/.nvmrc
  frontend/package.json
  pom.xml
Owners: @kafbat/devops, @kafbat/frontend, @kafbat/backend

only send from main
  .github/workflows/cve_checks.yml
Owners: @kafbat/devops

Update workflow jobs' naming
  .github/workflows/backend_main.yml
  .github/workflows/backend_pr.yml
  .github/workflows/cve_checks.yml
  .github/workflows/frontend_main.yml
  .github/workflows/frontend_pr.yml
  .github/workflows/md-links.yml
  .github/workflows/pr_linter.yml
  .github/workflows/workflow_linter.yml
Owners: @kafbat/devops

.github/CODEOWNERS:

*                           @kafbat/maintainers


# BACKEND
/pom.xml                    @kafbat/backend
/contract/                  @kafbat/backend
/api/                       @kafbat/backend
/serde-api/                 @kafbat/backend
/documentation/compose/     @kafbat/backend

# FRONTEND
/frontend/                  @kafbat/frontend

# TESTS
/e2e-tests/                 @kafbat/qa

# INFRA
/.github/workflows/         @kafbat/devops
