Repository kafbat/kafka-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kafbat/maintainers, @kafbat/backend, @kafbat/frontend, @kafbat/qa, @kafbat/devops

.github/CODEOWNERS:

*                           @kafbat/maintainers


# BACKEND
/pom.xml                    @kafbat/backend
/contract/                  @kafbat/backend
/api/                       @kafbat/backend
/serde-api/                 @kafbat/backend
/documentation/compose/     @kafbat/backend

# FRONTEND
/frontend/                  @kafbat/frontend

# TESTS
/e2e-tests/                 @kafbat/qa

# INFRA
/.github/workflows/         @kafbat/devops

feat: auth page
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/AuthCard/AuthCard.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/OAuthSignIn.tsx
  frontend/src/components/common/Icons/CognitoIcon.tsx
  frontend/src/components/common/Icons/KeycloakIcon.tsx
  frontend/src/components/common/Icons/OktaIcon.tsx
Owners: @kafbat/frontend

BE: Chore: Upgrade kafka to confluent 7.8.0 (#710)
  .dev/dev_arm64.yaml
  .gitignore
  api/pom.xml
  api/src/main/java/io/kafbat/ui/client/RetryingKafkaConnectClient.java
  api/src/test/java/io/kafbat/ui/AbstractIntegrationTest.java
  documentation/compose/e2e-tests.yaml
  e2e-tests/pom.xml
  e2e-tests/src/main/java/io/kafbat/ui/screens/panels/NaviSideBar.java
  e2e-tests/src/main/java/io/kafbat/ui/screens/topics/TopicSettingsTab.java
  pom.xml
Owners: @kafbat/maintainers, @kafbat/backend, @kafbat/qa

BE: standarize import paths
  api/src/main/java/io/kafbat/ui/serdes/builtin/ProtobufFileSerde.java
Owners: @kafbat/backend

extend docs
  api/src/main/java/io/kafbat/ui/serdes/builtin/ProtobufFileSerde.java
Owners: @kafbat/backend

reformat
  api/src/main/java/io/kafbat/ui/serdes/builtin/ProtobufFileSerde.java
Owners: @kafbat/backend

reword
  api/src/main/java/io/kafbat/ui/serdes/builtin/ProtobufFileSerde.java
Owners: @kafbat/backend

Add test template
  .run/Template TestNG.run.xml
Owners: @kafbat/maintainers

refactor: use record classes
  api/src/main/java/io/kafbat/ui/model/InternalClusterState.java
  api/src/main/java/io/kafbat/ui/model/InternalPartitionsOffsets.java
  api/src/main/java/io/kafbat/ui/model/InternalReplica.java
  api/src/main/java/io/kafbat/ui/model/InternalTopic.java
  api/src/main/java/io/kafbat/ui/serdes/ConsumerRecordDeserializer.java
  api/src/main/java/io/kafbat/ui/serdes/CustomSerdeLoader.java
  api/src/main/java/io/kafbat/ui/serdes/SerdesInitializer.java
  api/src/main/java/io/kafbat/ui/service/BrokerService.java
  api/src/main/java/io/kafbat/ui/service/DeserializationService.java
  api/src/main/java/io/kafbat/ui/service/FeatureService.java
  api/src/main/java/io/kafbat/ui/service/ReactiveAdminClient.java
  api/src/main/java/io/kafbat/ui/service/StatisticsService.java
  api/src/main/java/io/kafbat/ui/service/TopicsService.java
  api/src/main/java/io/kafbat/ui/service/ksql/KsqlApiClient.java
  api/src/main/java/io/kafbat/ui/service/ksql/KsqlGrammar.java
  api/src/main/java/io/kafbat/ui/service/ksql/KsqlServiceV2.java
  api/src/main/java/io/kafbat/ui/service/masking/DataMasking.java
  api/src/main/java/io/kafbat/ui/service/metrics/RawMetric.java
  api/src/main/java/io/kafbat/ui/util/jsonschema/AvroJsonSchemaConverter.java
  api/src/main/java/io/kafbat/ui/util/jsonschema/ObjectFieldSchema.java
  api/src/main/java/io/kafbat/ui/util/jsonschema/ProtobufSchemaConverter.java
  api/src/main/java/io/kafbat/ui/util/jsonschema/RefFieldSchema.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/AvroEmbeddedSerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/Base64SerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/ConsumerOffsetsSerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/HexSerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/Int32SerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/Int64SerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/ProtobufFileSerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/ProtobufRawSerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/UInt32SerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/UInt64SerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/UuidBinarySerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/sr/SchemaRegistrySerdeTest.java
  api/src/test/java/io/kafbat/ui/service/RecordEmitterTest.java
  serde-api/src/main/java/io/kafbat/ui/serde/api/DeserializeResult.java
  serde-api/src/main/java/io/kafbat/ui/serde/api/SchemaDescription.java
Owners: @kafbat/backend

update
  .run/Template TestNG.run.xml
Owners: @kafbat/maintainers

update
  .run/Lauch E2E Dependencies.run.xml
  .run/Template TestNG.run.xml
Owners: @kafbat/maintainers

update template
  .run/Template TestNG.run.xml
Owners: @kafbat/maintainers

update
  .run/Lauch E2E Dependencies.run.xml
Owners: @kafbat/maintainers

update
  .run/KafkaUiApplication.run.xml
  .run/Template TestNG.run.xml
Owners: @kafbat/maintainers

Revert
  .github/workflows/backend_tests.yml
Owners: @kafbat/devops

feat: auth page
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/AuthCard/AuthCard.tsx
  frontend/src/components/contexts/GlobalSettingsContext.tsx
Owners: @kafbat/frontend

bump test contaienrs
  pom.xml
Owners: @kafbat/backend

feat: auth page
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/AuthCard/AuthCard.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/OAuthSignIn.styled.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/OAuthSignIn.tsx
Owners: @kafbat/frontend

BE: RBAC: Subject type/value is unintended to be optional
  api/src/test/java/io/kafbat/ui/ActiveDirectoryIntegrationTest.java
  api/src/test/java/io/kafbat/ui/container/ActiveDirectoryContainer.java
  api/src/test/resources/application-rbac-ad.yml
Owners: @kafbat/backend

Update vite proxy auth path
  frontend/vite.config.ts
Owners: @kafbat/frontend

Change login URL and fix basic auth
  api/src/main/java/io/kafbat/ui/config/auth/BasicAuthSecurityConfig.java
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
Owners: @kafbat/backend

Fix LDAP, refactor
  api/src/main/java/io/kafbat/ui/config/auth/AbstractAuthSecurityConfig.java
  api/src/main/java/io/kafbat/ui/config/auth/BasicAuthSecurityConfig.java
  api/src/main/java/io/kafbat/ui/config/auth/LdapSecurityConfig.java
Owners: @kafbat/backend

Update README.md
  README.md
Owners: @kafbat/maintainers

Update README.md
  README.md
Owners: @kafbat/maintainers

feat: auth page
  frontend/src/components/AuthPage/SignIn/BasicSignIn/BasicSignIn.styled.tsx
  frontend/src/components/AuthPage/SignIn/BasicSignIn/BasicSignIn.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/AuthCard/AuthCard.tsx
Owners: @kafbat/frontend

feat: auth page
  frontend/src/components/AuthPage/SignIn/BasicSignIn/BasicSignIn.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/AuthCard/AuthCard.tsx
Owners: @kafbat/frontend

BE: RBAC: Add integration test for Active Directory auth
  api/src/test/java/io/kafbat/ui/ActiveDirectoryIntegrationTest.java
  api/src/test/java/io/kafbat/ui/container/ActiveDirectoryContainer.java
  api/src/test/resources/application-rbac-ad.yml
Owners: @kafbat/backend

feat: auth page
  frontend/src/components/contexts/GlobalSettingsContext.tsx
Owners: @kafbat/frontend

Impl AD role extractor, refactor configs
  api/src/main/java/io/kafbat/ui/config/auth/LdapSecurityConfig.java
  api/src/main/java/io/kafbat/ui/service/rbac/extractor/RbacActiveDirectoryAuthoritiesExtractor.java
Owners: @kafbat/backend

issues/239: max content width for Menu
  frontend/src/components/Nav/Menu/styled.ts
  frontend/src/theme/theme.ts
Owners: @kafbat/frontend

BE: Impl custom auth page (#635)
  .java-version
  api/src/main/java/io/kafbat/ui/config/auth/AbstractAuthSecurityConfig.java
  api/src/main/java/io/kafbat/ui/config/auth/BasicAuthSecurityConfig.java
  api/src/main/java/io/kafbat/ui/config/auth/LdapSecurityConfig.java
  api/src/main/java/io/kafbat/ui/config/auth/OAuthSecurityConfig.java
  api/src/main/java/io/kafbat/ui/controller/ApplicationConfigController.java
  api/src/main/java/io/kafbat/ui/controller/AuthController.java
  api/src/main/java/io/kafbat/ui/controller/AuthenticationController.java
  api/src/main/java/io/kafbat/ui/controller/AuthorizationController.java
  api/src/main/java/io/kafbat/ui/service/ApplicationInfoService.java
  api/src/main/java/io/kafbat/ui/util/StaticFileWebFilter.java
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
Owners: @kafbat/maintainers, @kafbat/backend

FE: Impl custom auth page (#402)
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  frontend/public/serviceImage.png
  frontend/src/components/App.tsx
  frontend/src/components/AuthPage/AuthPage.styled.tsx
  frontend/src/components/AuthPage/AuthPage.tsx
  frontend/src/components/AuthPage/Header/Header.styled.tsx
  frontend/src/components/AuthPage/Header/Header.tsx
  frontend/src/components/AuthPage/Header/HeaderLogo.tsx
  frontend/src/components/AuthPage/SignIn/BasicSignIn/BasicSignIn.styled.tsx
  frontend/src/components/AuthPage/SignIn/BasicSignIn/BasicSignIn.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/AuthCard/AuthCard.styled.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/AuthCard/AuthCard.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/OAuthSignIn.styled.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/OAuthSignIn.tsx
  frontend/src/components/AuthPage/SignIn/SignIn.styled.tsx
  frontend/src/components/AuthPage/SignIn/SignIn.tsx
  frontend/src/components/NavBar/UserInfo/UserInfo.tsx
  frontend/src/components/common/Button/Button.tsx
  frontend/src/components/common/Icons/AlertIcon.tsx
  frontend/src/components/common/Icons/CognitoIcon.tsx
  frontend/src/components/common/Icons/GoogleIcon.tsx
  frontend/src/components/common/Icons/KeycloakIcon.tsx
  frontend/src/components/common/Icons/OktaIcon.tsx
  frontend/src/components/common/Icons/ServiceImage.tsx
  frontend/src/components/contexts/GlobalSettingsContext.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/hooks/api/appConfig.ts
  frontend/src/theme/theme.ts
  frontend/vite.config.ts
Owners: @kafbat/backend, @kafbat/frontend

FE: Impl custom auth page (#402)
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  frontend/public/serviceImage.png
  frontend/src/components/App.tsx
  frontend/src/components/AuthPage/AuthPage.styled.tsx
  frontend/src/components/AuthPage/AuthPage.tsx
  frontend/src/components/AuthPage/Header/Header.styled.tsx
  frontend/src/components/AuthPage/Header/Header.tsx
  frontend/src/components/AuthPage/Header/HeaderLogo.tsx
  frontend/src/components/AuthPage/SignIn/BasicSignIn/BasicSignIn.styled.tsx
  frontend/src/components/AuthPage/SignIn/BasicSignIn/BasicSignIn.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/AuthCard/AuthCard.styled.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/AuthCard/AuthCard.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/OAuthSignIn.styled.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/OAuthSignIn.tsx
  frontend/src/components/AuthPage/SignIn/SignIn.styled.tsx
  frontend/src/components/AuthPage/SignIn/SignIn.tsx
  frontend/src/components/NavBar/UserInfo/UserInfo.tsx
  frontend/src/components/common/Button/Button.tsx
  frontend/src/components/common/Icons/AlertIcon.tsx
  frontend/src/components/common/Icons/CognitoIcon.tsx
  frontend/src/components/common/Icons/GoogleIcon.tsx
  frontend/src/components/common/Icons/KeycloakIcon.tsx
  frontend/src/components/common/Icons/OktaIcon.tsx
  frontend/src/components/common/Icons/ServiceImage.tsx
  frontend/src/components/contexts/GlobalSettingsContext.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/hooks/api/appConfig.ts
  frontend/src/theme/theme.ts
  frontend/vite.config.ts
Owners: @kafbat/backend, @kafbat/frontend

BE: Impl custom auth page (#635)
  .java-version
  api/src/main/java/io/kafbat/ui/config/auth/AbstractAuthSecurityConfig.java
  api/src/main/java/io/kafbat/ui/config/auth/BasicAuthSecurityConfig.java
  api/src/main/java/io/kafbat/ui/config/auth/LdapSecurityConfig.java
  api/src/main/java/io/kafbat/ui/config/auth/OAuthSecurityConfig.java
  api/src/main/java/io/kafbat/ui/controller/ApplicationConfigController.java
  api/src/main/java/io/kafbat/ui/controller/AuthController.java
  api/src/main/java/io/kafbat/ui/controller/AuthenticationController.java
  api/src/main/java/io/kafbat/ui/controller/AuthorizationController.java
  api/src/main/java/io/kafbat/ui/service/ApplicationInfoService.java
  api/src/main/java/io/kafbat/ui/util/StaticFileWebFilter.java
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
Owners: @kafbat/maintainers, @kafbat/backend

BE: Chore: standarize Protobuf import paths (#723)
  api/src/main/java/io/kafbat/ui/serdes/builtin/ProtobufFileSerde.java
Owners: @kafbat/backend

BE: RBAC: Ignore values for non-applicable resources (#503)
  api/src/main/java/io/kafbat/ui/model/rbac/AccessContext.java
Owners: @kafbat/backend

Add property to the contract
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
Owners: @kafbat/backend

BE: Implement a mechanism to skip SSL verification (#422)
  api/src/main/java/io/kafbat/ui/config/ClustersProperties.java
  api/src/main/java/io/kafbat/ui/service/AdminClientServiceImpl.java
  api/src/main/java/io/kafbat/ui/service/ConsumerGroupService.java
  api/src/main/java/io/kafbat/ui/service/MessagesService.java
  api/src/main/java/io/kafbat/ui/service/ksql/KsqlApiClient.java
  api/src/main/java/io/kafbat/ui/util/KafkaClientSslPropertiesUtil.java
  api/src/main/java/io/kafbat/ui/util/KafkaServicesValidation.java
  api/src/main/java/io/kafbat/ui/util/SslPropertiesUtil.java
  api/src/main/java/io/kafbat/ui/util/WebClientConfigurator.java
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
Owners: @kafbat/backend

BE: RBAC: LDAP: Implement `user` subject type for LDAP & AD. Fixes #730
  api/src/main/java/io/kafbat/ui/service/rbac/extractor/RbacActiveDirectoryAuthoritiesExtractor.java
  api/src/main/java/io/kafbat/ui/service/rbac/extractor/RbacLdapAuthoritiesExtractor.java
Owners: @kafbat/backend

Review fixes: Make bind authenticator nullable for the AD case
  api/src/main/java/io/kafbat/ui/config/auth/LdapSecurityConfig.java
Owners: @kafbat/backend

add an option to save all messages as csv/json, Issue #688
  frontend/src/components/Topics/Topic/Messages/MessagesTable.tsx
Owners: @kafbat/frontend
