Repository kafbat/kafka-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kafbat/maintainers, @kafbat/backend, @kafbat/frontend, @kafbat/qa, @kafbat/devops

FE: Chore: Bump braces (#679)
  frontend/package.json
  frontend/pnpm-lock.yaml
Owners: @kafbat/frontend

BE: RBAC: Add cluster list validation (#421)
  api/src/main/java/io/kafbat/ui/model/rbac/Role.java
Owners: @kafbat/backend

FE: include message headers during search
  api/src/main/java/io/kafbat/ui/emitter/MessageFilters.java
  api/src/test/java/io/kafbat/ui/emitter/MessageFiltersTest.java
Owners: @kafbat/backend

BE: Messages: Allow searching in message headers (#695)
  api/src/main/java/io/kafbat/ui/emitter/MessageFilters.java
  api/src/test/java/io/kafbat/ui/emitter/MessageFiltersTest.java
Owners: @kafbat/backend

issues/650: ProtobufFile serde with proto files containing Any fix
  api/src/main/java/io/kafbat/ui/serdes/builtin/ProtobufFileSerde.java
  api/src/test/java/io/kafbat/ui/AbstractIntegrationTest.java
  api/src/test/java/io/kafbat/ui/service/MessagesServiceTest.java
  api/src/test/resources/protobuf-serde/main.proto
Owners: @kafbat/backend

issues/650: clean up
  api/src/test/java/io/kafbat/ui/AbstractIntegrationTest.java
  api/src/test/java/io/kafbat/ui/service/MessagesServiceTest.java
  api/src/test/resources/protobuf-serde/messagewithany.proto
Owners: @kafbat/backend

issues/650: checkstyle fix
  api/src/test/java/io/kafbat/ui/service/MessagesServiceTest.java
Owners: @kafbat/backend

issues/650: fix failed test on new added proto
  api/src/test/java/io/kafbat/ui/serdes/builtin/ProtobufFileSerdeTest.java
Owners: @kafbat/backend

BE: Chore: Cleanup api tests
  api/src/test/java/io/kafbat/ui/KafkaConnectServiceTests.java
  api/src/test/java/io/kafbat/ui/KafkaConsumerTests.java
  api/src/test/java/io/kafbat/ui/config/auth/azure/AzureEntraLoginCallbackHandlerTest.java
  api/src/test/java/io/kafbat/ui/config/auth/azure/AzureEntraOAuthBearerTokenTest.java
  api/src/test/java/io/kafbat/ui/container/KafkaConnectContainer.java
  api/src/test/java/io/kafbat/ui/container/KsqlDbContainer.java
  api/src/test/java/io/kafbat/ui/container/SchemaRegistryContainer.java
  api/src/test/java/io/kafbat/ui/emitter/CursorTest.java
  api/src/test/java/io/kafbat/ui/emitter/TailingEmitterTest.java
  api/src/test/java/io/kafbat/ui/serdes/SerdesInitializerTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/ConsumerOffsetsSerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/ProtobufFileSerdeTest.java
  api/src/test/java/io/kafbat/ui/service/BrokerServiceTest.java
  api/src/test/java/io/kafbat/ui/service/ConfigTest.java
  api/src/test/java/io/kafbat/ui/service/LogDirsTest.java
  api/src/test/java/io/kafbat/ui/service/MessagesServiceTest.java
  api/src/test/java/io/kafbat/ui/service/OffsetsResetServiceTest.java
  api/src/test/java/io/kafbat/ui/service/ReactiveAdminClientTest.java
  api/src/test/java/io/kafbat/ui/service/SchemaRegistryPaginationTest.java
  api/src/test/java/io/kafbat/ui/service/SendAndReadTests.java
  api/src/test/java/io/kafbat/ui/service/acl/AclsServiceTest.java
  api/src/test/java/io/kafbat/ui/service/analyze/TopicAnalysisServiceTest.java
  api/src/test/java/io/kafbat/ui/service/integration/odd/ConnectorsExporterTest.java
  api/src/test/java/io/kafbat/ui/service/integration/odd/SchemaReferencesResolverTest.java
  api/src/test/java/io/kafbat/ui/service/integration/odd/TopicsExporterTest.java
  api/src/test/java/io/kafbat/ui/service/quota/ClientQuotaServiceTest.java
  api/src/test/java/io/kafbat/ui/util/jsonschema/JsonAvroConversionTest.java
Owners: @kafbat/backend

chore(bump): bump java version to 21
  .github/workflows/backend_tests.yml
  .github/workflows/branch-deploy.yml
  .github/workflows/build-public-image.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/cve_checks.yml
  .github/workflows/e2e-run.yml
  .github/workflows/main.yml
  .github/workflows/release-serde-api.yml
  .github/workflows/release.yml
  .github/workflows/separate_env_public_create.yml
  api/Dockerfile
  api/src/main/java/io/kafbat/ui/client/RetryingKafkaConnectClient.java
  api/src/main/java/io/kafbat/ui/service/ConsumerGroupService.java
  api/src/main/java/io/kafbat/ui/service/KafkaConnectService.java
  documentation/compose/connectors/start.sh
  documentation/compose/e2e-tests.yaml
  e2e-tests/pom.xml
  pom.xml
  serde-api/pom.xml
Owners: @kafbat/devops, @kafbat/backend, @kafbat/qa

chore(bump): bump java version to 21
  api/src/main/java/io/kafbat/ui/service/KafkaConnectService.java
Owners: @kafbat/backend

chore(bump): bump java version to 21
  e2e-tests/pom.xml
  pom.xml
Owners: @kafbat/qa, @kafbat/backend

BE: Chore: Upgrade java to 21 (#628)
  .github/workflows/backend_tests.yml
  .github/workflows/branch-deploy.yml
  .github/workflows/build-public-image.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/cve_checks.yml
  .github/workflows/e2e-run.yml
  .github/workflows/main.yml
  .github/workflows/release-serde-api.yml
  .github/workflows/release.yml
  .github/workflows/separate_env_public_create.yml
  api/Dockerfile
  api/src/main/java/io/kafbat/ui/client/RetryingKafkaConnectClient.java
  api/src/main/java/io/kafbat/ui/service/ConsumerGroupService.java
  api/src/main/java/io/kafbat/ui/service/KafkaConnectService.java
  documentation/compose/connectors/start.sh
  documentation/compose/e2e-tests.yaml
  e2e-tests/pom.xml
  pom.xml
  serde-api/pom.xml
Owners: @kafbat/devops, @kafbat/backend, @kafbat/qa

BE: Chore: Cleanup api tests (#698)
  api/src/test/java/io/kafbat/ui/KafkaConnectServiceTests.java
  api/src/test/java/io/kafbat/ui/KafkaConsumerTests.java
  api/src/test/java/io/kafbat/ui/config/auth/azure/AzureEntraLoginCallbackHandlerTest.java
  api/src/test/java/io/kafbat/ui/config/auth/azure/AzureEntraOAuthBearerTokenTest.java
  api/src/test/java/io/kafbat/ui/container/KafkaConnectContainer.java
  api/src/test/java/io/kafbat/ui/container/KsqlDbContainer.java
  api/src/test/java/io/kafbat/ui/container/SchemaRegistryContainer.java
  api/src/test/java/io/kafbat/ui/emitter/CursorTest.java
  api/src/test/java/io/kafbat/ui/emitter/TailingEmitterTest.java
  api/src/test/java/io/kafbat/ui/serdes/SerdesInitializerTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/ConsumerOffsetsSerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/ProtobufFileSerdeTest.java
  api/src/test/java/io/kafbat/ui/service/BrokerServiceTest.java
  api/src/test/java/io/kafbat/ui/service/ConfigTest.java
  api/src/test/java/io/kafbat/ui/service/LogDirsTest.java
  api/src/test/java/io/kafbat/ui/service/MessagesServiceTest.java
  api/src/test/java/io/kafbat/ui/service/OffsetsResetServiceTest.java
  api/src/test/java/io/kafbat/ui/service/ReactiveAdminClientTest.java
  api/src/test/java/io/kafbat/ui/service/SchemaRegistryPaginationTest.java
  api/src/test/java/io/kafbat/ui/service/SendAndReadTests.java
  api/src/test/java/io/kafbat/ui/service/acl/AclsServiceTest.java
  api/src/test/java/io/kafbat/ui/service/analyze/TopicAnalysisServiceTest.java
  api/src/test/java/io/kafbat/ui/service/integration/odd/ConnectorsExporterTest.java
  api/src/test/java/io/kafbat/ui/service/integration/odd/SchemaReferencesResolverTest.java
  api/src/test/java/io/kafbat/ui/service/integration/odd/TopicsExporterTest.java
  api/src/test/java/io/kafbat/ui/service/quota/ClientQuotaServiceTest.java
  api/src/test/java/io/kafbat/ui/util/jsonschema/JsonAvroConversionTest.java
Owners: @kafbat/backend

refactor: use enhanced switch
  api/src/main/java/io/kafbat/ui/service/KafkaConnectService.java
Owners: @kafbat/backend

refactor: use record classes
  api/src/main/java/io/kafbat/ui/model/InternalClusterState.java
  api/src/main/java/io/kafbat/ui/model/InternalPartitionsOffsets.java
  api/src/main/java/io/kafbat/ui/model/InternalReplica.java
  api/src/main/java/io/kafbat/ui/model/InternalTopic.java
  api/src/main/java/io/kafbat/ui/serdes/ConsumerRecordDeserializer.java
  api/src/main/java/io/kafbat/ui/serdes/CustomSerdeLoader.java
  api/src/main/java/io/kafbat/ui/serdes/SerdesInitializer.java
  api/src/main/java/io/kafbat/ui/service/BrokerService.java
  api/src/main/java/io/kafbat/ui/service/DeserializationService.java
  api/src/main/java/io/kafbat/ui/service/FeatureService.java
  api/src/main/java/io/kafbat/ui/service/ReactiveAdminClient.java
  api/src/main/java/io/kafbat/ui/service/StatisticsService.java
  api/src/main/java/io/kafbat/ui/service/TopicsService.java
  api/src/main/java/io/kafbat/ui/service/ksql/KsqlApiClient.java
  api/src/main/java/io/kafbat/ui/service/ksql/KsqlGrammar.java
  api/src/main/java/io/kafbat/ui/service/ksql/KsqlServiceV2.java
  api/src/main/java/io/kafbat/ui/service/masking/DataMasking.java
  api/src/main/java/io/kafbat/ui/service/metrics/RawMetric.java
  api/src/main/java/io/kafbat/ui/util/jsonschema/AvroJsonSchemaConverter.java
  api/src/main/java/io/kafbat/ui/util/jsonschema/ObjectFieldSchema.java
  api/src/main/java/io/kafbat/ui/util/jsonschema/ProtobufSchemaConverter.java
  api/src/main/java/io/kafbat/ui/util/jsonschema/RefFieldSchema.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/AvroEmbeddedSerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/Base64SerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/ConsumerOffsetsSerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/HexSerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/Int32SerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/Int64SerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/ProtobufFileSerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/ProtobufRawSerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/UInt32SerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/UInt64SerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/UuidBinarySerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/sr/SchemaRegistrySerdeTest.java
  api/src/test/java/io/kafbat/ui/service/RecordEmitterTest.java
  serde-api/src/main/java/io/kafbat/ui/serde/api/DeserializeResult.java
  serde-api/src/main/java/io/kafbat/ui/serde/api/SchemaDescription.java
Owners: @kafbat/backend

expose errors
  .dev/dev_arm64.yaml
  api/src/main/java/io/kafbat/ui/client/RetryingKafkaConnectClient.java
Owners: @kafbat/maintainers, @kafbat/backend

revert
  .dev/dev_arm64.yaml
Owners: @kafbat/maintainers

organize imports
  api/src/main/java/io/kafbat/ui/client/RetryingKafkaConnectClient.java
Owners: @kafbat/backend

docs
  api/src/main/java/io/kafbat/ui/client/RetryingKafkaConnectClient.java
Owners: @kafbat/backend

BE: Expose Kafka Connect validation errors in the UI
  api/src/main/java/io/kafbat/ui/client/RetryingKafkaConnectClient.java
  api/src/test/java/io/kafbat/ui/KafkaConnectServiceTests.java
  etc/checkstyle/checkstyle.xml
Owners: @kafbat/backend, @kafbat/maintainers

publish dependency analysis
  .github/workflows/maven-dependency-analysis.yml
Owners: @kafbat/devops

BE: KC: Expose validation errors to UI (#705)
  api/src/main/java/io/kafbat/ui/client/RetryingKafkaConnectClient.java
  api/src/test/java/io/kafbat/ui/KafkaConnectServiceTests.java
  etc/checkstyle/checkstyle.xml
Owners: @kafbat/backend, @kafbat/maintainers

refactor: use enhanced switch
  api/src/main/java/io/kafbat/ui/service/KafkaConnectService.java
Owners: @kafbat/backend

issues/711: normalize path for proto schemas locations for Windows OS
  api/src/main/java/io/kafbat/ui/serdes/builtin/ProtobufFileSerde.java
Owners: @kafbat/backend

BE: Chore: use enhanced switch (#702)
  api/src/main/java/io/kafbat/ui/service/KafkaConnectService.java
Owners: @kafbat/backend

Infra: FE: Bump pnpm to 9.15.0
  .github/workflows/frontend_tests.yml
  frontend/package.json
  pom.xml
Owners: @kafbat/devops, @kafbat/frontend, @kafbat/backend

refactor: remove unnecessary logic
  api/src/test/java/io/kafbat/ui/AbstractIntegrationTest.java
Owners: @kafbat/backend

Update backend_tests.yml
  .github/workflows/backend_tests.yml
Owners: @kafbat/devops

Update backend_tests.yml
  .github/workflows/backend_tests.yml
Owners: @kafbat/devops

LDAP security config refactoring
  api/src/main/java/io/kafbat/ui/config/auth/LdapSecurityConfig.java
Owners: @kafbat/backend

Support AD in LDAP authorities extractor. Resolves #54
  api/src/main/java/io/kafbat/ui/service/rbac/extractor/RbacLdapAuthoritiesExtractor.java
Owners: @kafbat/backend

Infra: FE: Bump pnpm to 9.15.0 (#709)
  .github/workflows/frontend_tests.yml
  frontend/package.json
  pom.xml
Owners: @kafbat/devops, @kafbat/frontend, @kafbat/backend

feat: auth page
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  frontend/src/components/AuthPage/AuthPage.tsx
  frontend/src/components/AuthPage/Footer/Footer.styled.tsx
  frontend/src/components/AuthPage/Footer/Footer.tsx
  frontend/src/components/AuthPage/SignIn/BasicSignIn/BasicSignIn.styled.tsx
  frontend/src/components/AuthPage/SignIn/BasicSignIn/BasicSignIn.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/AuthCard/AuthCard.styled.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/OAuthSignIn.tsx
  frontend/src/components/AuthPage/SignIn/SignIn.styled.tsx
  frontend/src/components/AuthPage/SignIn/SignIn.tsx
  frontend/src/components/NavBar/UserInfo/UserInfo.tsx
  frontend/src/components/common/Icons/AlertIcon.tsx
  frontend/src/components/contexts/GlobalSettingsContext.tsx
  frontend/src/lib/hooks/api/appConfig.ts
  frontend/src/theme/theme.ts
  frontend/vite.config.ts
Owners: @kafbat/backend, @kafbat/frontend

Update README.md
  README.md
Owners: @kafbat/maintainers

Docs: Fix quick start link (#718)
  README.md
Owners: @kafbat/maintainers

Review suggestions
  api/src/main/java/io/kafbat/ui/config/auth/LdapSecurityConfig.java
  api/src/main/java/io/kafbat/ui/service/AdminClientServiceImpl.java
Owners: @kafbat/backend

feat: auth page
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  frontend/src/components/AuthPage/AuthPage.tsx
  frontend/src/components/AuthPage/Footer/Footer.styled.tsx
  frontend/src/components/AuthPage/Footer/Footer.tsx
  frontend/src/components/AuthPage/SignIn/BasicSignIn/BasicSignIn.styled.tsx
  frontend/src/components/AuthPage/SignIn/BasicSignIn/BasicSignIn.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/AuthCard/AuthCard.styled.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/OAuthSignIn.tsx
  frontend/src/components/AuthPage/SignIn/SignIn.styled.tsx
  frontend/src/components/AuthPage/SignIn/SignIn.tsx
  frontend/src/components/NavBar/UserInfo/UserInfo.tsx
  frontend/src/components/common/Icons/AlertIcon.tsx
  frontend/src/components/contexts/GlobalSettingsContext.tsx
  frontend/src/lib/hooks/api/appConfig.ts
  frontend/src/theme/theme.ts
  frontend/vite.config.ts
Owners: @kafbat/backend, @kafbat/frontend

feat: auth page
  frontend/src/components/App.tsx
  frontend/src/components/AuthPage/AuthPage.tsx
  frontend/src/components/AuthPage/Footer/Footer.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/AuthCard/AuthCard.styled.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/AuthCard/AuthCard.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/OAuthSignIn.styled.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/OAuthSignIn.tsx
  frontend/src/components/AuthPage/SignIn/ServiceSignIn/ServiceSignIn.tsx
  frontend/src/components/AuthPage/SignIn/SignIn.tsx
  frontend/src/components/common/Button/Button.tsx
  frontend/src/lib/hooks/api/appConfig.ts
Owners: @kafbat/frontend

resolves #72
  frontend/public/serviceImage.png
  frontend/src/components/App.tsx
  frontend/src/components/AuthPage/AuthPage.styled.tsx
  frontend/src/components/AuthPage/AuthPage.tsx
  frontend/src/components/AuthPage/Footer/Footer.styled.tsx
  frontend/src/components/AuthPage/Footer/Footer.tsx
  frontend/src/components/AuthPage/Header/Header.styled.tsx
  frontend/src/components/AuthPage/Header/Header.tsx
  frontend/src/components/AuthPage/Header/HeaderLogo.tsx
  frontend/src/components/AuthPage/SignIn/BasicSignIn/BasicSignIn.styled.tsx
  frontend/src/components/AuthPage/SignIn/BasicSignIn/BasicSignIn.tsx
  frontend/src/components/AuthPage/SignIn/ServiceSignIn/AuthCard/AuthCard.styled.tsx
  frontend/src/components/AuthPage/SignIn/ServiceSignIn/AuthCard/AuthCard.tsx
  frontend/src/components/AuthPage/SignIn/ServiceSignIn/ServiceSignIn.styled.tsx
  frontend/src/components/AuthPage/SignIn/ServiceSignIn/ServiceSignIn.tsx
  frontend/src/components/AuthPage/SignIn/SignIn.styled.tsx
  frontend/src/components/AuthPage/SignIn/SignIn.tsx
  frontend/src/components/common/Icons/GoogleIcon.tsx
  frontend/src/components/common/Icons/ServiceImage.tsx
  frontend/src/theme/theme.ts
Owners: @kafbat/frontend

.github/CODEOWNERS:

*                           @kafbat/maintainers


# BACKEND
/pom.xml                    @kafbat/backend
/contract/                  @kafbat/backend
/api/                       @kafbat/backend
/serde-api/                 @kafbat/backend
/documentation/compose/     @kafbat/backend

# FRONTEND
/frontend/                  @kafbat/frontend

# TESTS
/e2e-tests/                 @kafbat/qa

# INFRA
/.github/workflows/         @kafbat/devops
