Repository kafbat/kafka-ui, pull requests merged in 2024-03, with the labels that each got.

#216 Docs: Update readme
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  documentation/images/Interface.gif
  documentation/images/logo_new.png
Labels: impact/documentation, status/triage/completed

#174 CVE fixes, Feb 2024
  .github/workflows/cve.yml
  api/Dockerfile
  api/pom.xml
  api/src/main/java/io/kafbat/ui/serdes/builtin/ProtobufFileSerde.java
  documentation/compose/postgres/Dockerfile
  pom.xml
Labels: scope/backend, type/security, type/dependencies, status/triage/completed

#218 Infra: Update codeql permissions
  .github/workflows/codeql-analysis.yml
Labels: scope/infra, type/chore, status/triage/completed

#154 Wizard: Add an ability to delete clusters from UI
  frontend/src/lib/hooks/api/appConfig.ts
  frontend/src/widgets/ClusterConfigForm/index.tsx
Labels: type/enhancement, scope/frontend, area/wizard, status/triage/completed

#222 Infra: Disable e2e tests for now
  .github/workflows/e2e-automation.yml
  .github/workflows/e2e-manual.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/e2e-weekly.yml
Labels: scope/infra, type/chore, status/triage/completed

#224 Infra: Kapybro: Enable auto rebase
  .github/kapybro/config.yml
Labels: scope/infra, status/triage/completed

#178 Update CEL modal quick info
  frontend/src/components/Topics/Topic/Messages/Filters/Filters.styled.ts
  frontend/src/components/Topics/Topic/Messages/Filters/InfoModal.tsx
Labels: type/enhancement, scope/frontend, status/triage/completed

#225 FE: Fix theme colors
  frontend/src/theme/theme.ts
Labels: scope/frontend, type/chore, area/ux, status/triage/completed

#188 FE: Add forms for an ACL creating
  frontend/src/components/ACLPage/Form/AclFormContext.ts
  frontend/src/components/ACLPage/Form/CustomACL/Form.tsx
  frontend/src/components/ACLPage/Form/CustomACL/constants.ts
  frontend/src/components/ACLPage/Form/CustomACL/lib.ts
  frontend/src/components/ACLPage/Form/CustomACL/schema.ts
  frontend/src/components/ACLPage/Form/CustomACL/types.ts
  frontend/src/components/ACLPage/Form/ForConsumers/Form.tsx
  frontend/src/components/ACLPage/Form/ForConsumers/lib.ts
  frontend/src/components/ACLPage/Form/ForConsumers/schema.ts
  frontend/src/components/ACLPage/Form/ForConsumers/types.ts
  frontend/src/components/ACLPage/Form/ForKafkaStreamApps/Form.tsx
  frontend/src/components/ACLPage/Form/ForKafkaStreamApps/lib.ts
  frontend/src/components/ACLPage/Form/ForKafkaStreamApps/schema.ts
  frontend/src/components/ACLPage/Form/ForKafkaStreamApps/types.ts
  frontend/src/components/ACLPage/Form/ForProducers/Form.tsx
  frontend/src/components/ACLPage/Form/ForProducers/lib.ts
  frontend/src/components/ACLPage/Form/ForProducers/schema.ts
  frontend/src/components/ACLPage/Form/ForProducers/types.ts
  frontend/src/components/ACLPage/Form/Form.styled.ts
  frontend/src/components/ACLPage/Form/Form.tsx
  frontend/src/components/ACLPage/Form/components/MatchTypeSelector.tsx
  frontend/src/components/ACLPage/Form/constants.ts
  frontend/src/components/ACLPage/Form/types.ts
  frontend/src/components/ACLPage/List/List.styled.ts
  frontend/src/components/ACLPage/List/List.tsx
  frontend/src/components/ACLPage/List/__test__/List.spec.tsx
  frontend/src/components/ACLPage/lib/useConsumerGroupsOptions.ts
  frontend/src/components/ACLPage/lib/useTopicsOptions.ts
  frontend/src/components/common/Input/Input.styled.ts
  frontend/src/components/common/Input/InputLabel.styled.ts
  frontend/src/components/common/MultiSelect/ControlledMultiSelect/index.tsx
  frontend/src/components/common/Radio/ControlledRadio.tsx
  frontend/src/components/common/Radio/Radio.styled.tsx
  frontend/src/components/common/Radio/Radio.tsx
  frontend/src/components/common/Radio/types.ts
  frontend/src/components/common/Select/ControlledSelect.tsx
  frontend/src/lib/__test__/isRegex.spec.ts
  frontend/src/lib/hooks/api/acl.ts
  frontend/src/lib/isRegex.ts
  frontend/src/theme/theme.ts
Labels: type/enhancement, scope/frontend, area/acl, status/triage/completed

#228 FE: Fix statistics timer, update theming
  frontend/src/components/Topics/Topic/Statistics/Metrics.tsx
  frontend/src/components/Topics/Topic/Statistics/PartitionInfoRow.tsx
  frontend/src/components/Topics/Topic/Statistics/Statistics.styles.ts
  frontend/src/lib/dateTimeHelpers.ts
  frontend/src/theme/theme.ts
Labels: scope/frontend, type/bug, type/chore, area/ux

#250 Fix the ModeOptions Filter Value
  frontend/src/lib/hooks/filterUtils.ts
Labels: scope/frontend, type/bug, status/triage/completed

#210 FE: Split big chunks
  frontend/src/components/App.tsx
  frontend/src/components/Topics/Topics.tsx
  frontend/src/components/Topics/__tests__/Topics.spec.tsx
  frontend/src/components/__tests__/App.spec.tsx
Labels: scope/frontend, type/chore, status/triage/completed

#252 BE: Fix cyrillic in AD property name
  api/src/main/java/io/kafbat/ui/config/auth/LdapProperties.java
  api/src/main/resources/application-local.yml
  documentation/compose/ui-ldap.yaml
Labels: scope/backend, type/bug, status/triage/completed
