Repository kafbat/kafka-ui, pull requests merged in 2024-12, with the labels that each got.

#678 BE: Wizard: Fix nullable cluster perms check
  api/src/main/java/io/kafbat/ui/service/rbac/AccessControlService.java
Labels: scope/backend, type/bug, area/rbac, area/wizard, status/triage/completed

#691 BE: CVE fixes
  api/pom.xml
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  frontend/src/components/Brokers/Broker/Configs/lib/constants.ts
  pom.xml
Labels: scope/backend, type/security, status/triage/completed

#679 FE: Chore: Bump braces
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: scope/frontend, type/dependencies, status/triage/completed

#421 BE: RBAC: Add cluster list validation
  api/src/main/java/io/kafbat/ui/model/rbac/Role.java
Labels: scope/backend, type/chore, hacktoberfest-accepted, area/rbac, status/triage/completed

#695 BE: Messages: Allow searching in message headers
  api/src/main/java/io/kafbat/ui/emitter/MessageFilters.java
  api/src/test/java/io/kafbat/ui/emitter/MessageFiltersTest.java
Labels: type/enhancement, scope/backend, area/messages, status/triage/completed

#628 BE: Chore: Upgrade java to 21
  .github/workflows/backend_tests.yml
  .github/workflows/branch-deploy.yml
  .github/workflows/build-public-image.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/cve_checks.yml
  .github/workflows/e2e-run.yml
  .github/workflows/main.yml
  .github/workflows/release-serde-api.yml
  .github/workflows/release.yml
  .github/workflows/separate_env_public_create.yml
  api/Dockerfile
  api/src/main/java/io/kafbat/ui/client/RetryingKafkaConnectClient.java
  api/src/main/java/io/kafbat/ui/service/ConsumerGroupService.java
  api/src/main/java/io/kafbat/ui/service/KafkaConnectService.java
  documentation/compose/connectors/start.sh
  documentation/compose/e2e-tests.yaml
  e2e-tests/pom.xml
  pom.xml
  serde-api/pom.xml
Labels: scope/backend, scope/infra, type/chore, type/dependencies, hacktoberfest-accepted, status/triage/completed

#698 BE: Chore: Cleanup api tests
  api/src/test/java/io/kafbat/ui/KafkaConnectServiceTests.java
  api/src/test/java/io/kafbat/ui/KafkaConsumerTests.java
  api/src/test/java/io/kafbat/ui/config/auth/azure/AzureEntraLoginCallbackHandlerTest.java
  api/src/test/java/io/kafbat/ui/config/auth/azure/AzureEntraOAuthBearerTokenTest.java
  api/src/test/java/io/kafbat/ui/container/KafkaConnectContainer.java
  api/src/test/java/io/kafbat/ui/container/KsqlDbContainer.java
  api/src/test/java/io/kafbat/ui/container/SchemaRegistryContainer.java
  api/src/test/java/io/kafbat/ui/emitter/CursorTest.java
  api/src/test/java/io/kafbat/ui/emitter/TailingEmitterTest.java
  api/src/test/java/io/kafbat/ui/serdes/SerdesInitializerTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/ConsumerOffsetsSerdeTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/ProtobufFileSerdeTest.java
  api/src/test/java/io/kafbat/ui/service/BrokerServiceTest.java
  api/src/test/java/io/kafbat/ui/service/ConfigTest.java
  api/src/test/java/io/kafbat/ui/service/LogDirsTest.java
  api/src/test/java/io/kafbat/ui/service/MessagesServiceTest.java
  api/src/test/java/io/kafbat/ui/service/OffsetsResetServiceTest.java
  api/src/test/java/io/kafbat/ui/service/ReactiveAdminClientTest.java
  api/src/test/java/io/kafbat/ui/service/SchemaRegistryPaginationTest.java
  api/src/test/java/io/kafbat/ui/service/SendAndReadTests.java
  api/src/test/java/io/kafbat/ui/service/acl/AclsServiceTest.java
  api/src/test/java/io/kafbat/ui/service/analyze/TopicAnalysisServiceTest.java
  api/src/test/java/io/kafbat/ui/service/integration/odd/ConnectorsExporterTest.java
  api/src/test/java/io/kafbat/ui/service/integration/odd/SchemaReferencesResolverTest.java
  api/src/test/java/io/kafbat/ui/service/integration/odd/TopicsExporterTest.java
  api/src/test/java/io/kafbat/ui/service/quota/ClientQuotaServiceTest.java
  api/src/test/java/io/kafbat/ui/util/jsonschema/JsonAvroConversionTest.java
Labels: scope/backend, type/chore, status/triage/completed

#705 BE: KC: Expose Kafka Connect validation errors in the UI
  api/src/main/java/io/kafbat/ui/client/RetryingKafkaConnectClient.java
  api/src/test/java/io/kafbat/ui/KafkaConnectServiceTests.java
  etc/checkstyle/checkstyle.xml
Labels: type/enhancement, scope/backend, status/triage/completed, area/connect

#702 BE: Chore: use enhanced switch
  api/src/main/java/io/kafbat/ui/service/KafkaConnectService.java
Labels: scope/backend, type/chore, status/triage/completed

#709 Infra: FE: Bump pnpm to 9.15.0
  .github/workflows/frontend_tests.yml
  frontend/package.json
  pom.xml
Labels: scope/infra, type/chore, status/triage/completed

#718 The quick start link is broken.
  README.md
Labels: type/chore, impact/documentation, status/triage/completed

#696 BE: Fix HTTP 500 on protobuf Any type
  api/src/main/java/io/kafbat/ui/serdes/builtin/ProtobufFileSerde.java
  api/src/test/java/io/kafbat/ui/AbstractIntegrationTest.java
  api/src/test/java/io/kafbat/ui/serdes/builtin/ProtobufFileSerdeTest.java
  api/src/test/java/io/kafbat/ui/service/MessagesServiceTest.java
  api/src/test/resources/protobuf-serde/messagewithany.proto
Labels: scope/backend, type/bug, area/serde, status/triage/completed

#710 BE: Chore: Upgrade kafka to confluent 7.8.0
  .dev/dev_arm64.yaml
  .gitignore
  api/pom.xml
  api/src/main/java/io/kafbat/ui/client/RetryingKafkaConnectClient.java
  api/src/test/java/io/kafbat/ui/AbstractIntegrationTest.java
  documentation/compose/e2e-tests.yaml
  e2e-tests/pom.xml
  e2e-tests/src/main/java/io/kafbat/ui/screens/panels/NaviSideBar.java
  e2e-tests/src/main/java/io/kafbat/ui/screens/topics/TopicSettingsTab.java
  pom.xml
Labels: scope/backend, type/dependencies, status/triage/completed

#635 BE: Impl custom authentication page
  .java-version
  api/src/main/java/io/kafbat/ui/config/auth/AbstractAuthSecurityConfig.java
  api/src/main/java/io/kafbat/ui/config/auth/BasicAuthSecurityConfig.java
  api/src/main/java/io/kafbat/ui/config/auth/LdapSecurityConfig.java
  api/src/main/java/io/kafbat/ui/config/auth/OAuthSecurityConfig.java
  api/src/main/java/io/kafbat/ui/controller/ApplicationConfigController.java
  api/src/main/java/io/kafbat/ui/controller/AuthController.java
  api/src/main/java/io/kafbat/ui/controller/AuthenticationController.java
  api/src/main/java/io/kafbat/ui/controller/AuthorizationController.java
  api/src/main/java/io/kafbat/ui/service/ApplicationInfoService.java
  api/src/main/java/io/kafbat/ui/util/StaticFileWebFilter.java
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
Labels: type/enhancement, scope/backend, area/auth, status/triage/completed

#402 FE: Impl custom auth page
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  frontend/public/serviceImage.png
  frontend/src/components/App.tsx
  frontend/src/components/AuthPage/AuthPage.styled.tsx
  frontend/src/components/AuthPage/AuthPage.tsx
  frontend/src/components/AuthPage/Header/Header.styled.tsx
  frontend/src/components/AuthPage/Header/Header.tsx
  frontend/src/components/AuthPage/Header/HeaderLogo.tsx
  frontend/src/components/AuthPage/SignIn/BasicSignIn/BasicSignIn.styled.tsx
  frontend/src/components/AuthPage/SignIn/BasicSignIn/BasicSignIn.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/AuthCard/AuthCard.styled.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/AuthCard/AuthCard.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/OAuthSignIn.styled.tsx
  frontend/src/components/AuthPage/SignIn/OAuthSignIn/OAuthSignIn.tsx
  frontend/src/components/AuthPage/SignIn/SignIn.styled.tsx
  frontend/src/components/AuthPage/SignIn/SignIn.tsx
  frontend/src/components/NavBar/UserInfo/UserInfo.tsx
  frontend/src/components/common/Button/Button.tsx
  frontend/src/components/common/Icons/AlertIcon.tsx
  frontend/src/components/common/Icons/CognitoIcon.tsx
  frontend/src/components/common/Icons/GoogleIcon.tsx
  frontend/src/components/common/Icons/KeycloakIcon.tsx
  frontend/src/components/common/Icons/OktaIcon.tsx
  frontend/src/components/common/Icons/ServiceImage.tsx
  frontend/src/components/contexts/GlobalSettingsContext.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/hooks/api/appConfig.ts
  frontend/src/theme/theme.ts
  frontend/vite.config.ts
Labels: type/enhancement, scope/frontend, hacktoberfest-accepted, area/auth, status/triage/completed

#723 BE: Chore: standarize Protobuf import paths
  api/src/main/java/io/kafbat/ui/serdes/builtin/ProtobufFileSerde.java
Labels: scope/backend, type/chore, status/triage/completed

#503 BE: RBAC: Ignore values for non-applicable resources
  api/src/main/java/io/kafbat/ui/model/rbac/AccessContext.java
Labels: scope/backend, type/bug, hacktoberfest-accepted, area/rbac, status/triage/completed

#422 BE: Implement a mechanism to skip SSL verification
  api/src/main/java/io/kafbat/ui/config/ClustersProperties.java
  api/src/main/java/io/kafbat/ui/service/AdminClientServiceImpl.java
  api/src/main/java/io/kafbat/ui/service/ConsumerGroupService.java
  api/src/main/java/io/kafbat/ui/service/MessagesService.java
  api/src/main/java/io/kafbat/ui/service/ksql/KsqlApiClient.java
  api/src/main/java/io/kafbat/ui/util/KafkaClientSslPropertiesUtil.java
  api/src/main/java/io/kafbat/ui/util/KafkaServicesValidation.java
  api/src/main/java/io/kafbat/ui/util/SslPropertiesUtil.java
  api/src/main/java/io/kafbat/ui/util/WebClientConfigurator.java
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
Labels: type/enhancement, scope/backend, hacktoberfest-accepted, status/triage/completed
