Repository kafbat/kafka-ui, pull requests merged in 2024-10, with the labels that each got.

#567 Infra: FE: Bump pnpm
  .github/workflows/frontend_tests.yml
  frontend/package.json
  pom.xml
Labels: scope/frontend, type/dependencies, hacktoberfest-accepted, status/triage/completed

#578 UX: Allow searching inside code textareas
  frontend/src/components/common/Editor/Editor.tsx
Labels: scope/frontend, type/bug, area/ux, status/triage/manual, status/triage/completed

#347 Infra: Add actions to publish to ECR & Docker Hub
  .github/workflows/docker_build.yml
  .github/workflows/docker_publish.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
Labels: type/enhancement, scope/infra, hacktoberfest-accepted, status/triage/completed

#586 Infra: Fix ECR push action
  .github/workflows/docker_publish.yml
Labels: type/bug, scope/infra, status/triage/completed

#588 Infra: Fix ECR push action
  .github/workflows/docker_publish.yml
Labels: type/bug, scope/infra, status/triage/completed

#594 FE: Fix unnecessary full page re-rendering
  frontend/src/components/PageContainer/PageContainer.tsx
Labels: scope/frontend, type/bug, hacktoberfest-accepted, status/triage/completed

#580 Infra: ECR Build minor fixes
  .github/workflows/build-public-image.yml
Labels: status/image_testing

#549 Consumers: Unsubscribe topics from consumer group
  api/src/main/java/io/kafbat/ui/controller/ConsumerGroupsController.java
  api/src/main/java/io/kafbat/ui/service/ConsumerGroupService.java
  api/src/main/java/io/kafbat/ui/service/ReactiveAdminClient.java
  api/src/test/java/io/kafbat/ui/KafkaConsumerGroupTests.java
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  frontend/src/components/ConsumerGroups/Details/ListItem.tsx
  frontend/src/lib/hooks/api/consumers.ts
Labels: type/enhancement, scope/frontend, scope/backend, hacktoberfest-accepted, area/consumers, status/triage/completed

#591 FE: Fix display of ACLs with leading/trailing spaces in table
  frontend/src/components/common/NewTable/Table.styled.ts
Labels: scope/frontend, type/bug, hacktoberfest-accepted, area/acl, status/triage/completed

#606 BE: Chore: Bump Spring Boot w/ dependencies
  api/pom.xml
  api/src/test/java/io/kafbat/ui/serdes/PropertyResolverImplTest.java
  api/src/test/java/io/kafbat/ui/service/ksql/KsqlApiClientTest.java
  pom.xml
Labels: scope/backend, type/chore, type/dependencies, status/triage/completed

#579 UX: Messages: Use "Newest" as default mode
  frontend/src/lib/hooks/filterUtils.ts
Labels: type/enhancement, scope/frontend, hacktoberfest-accepted, area/ux, status/triage/completed

#556 Brokers: Improve accessibility for r/o clusters
  api/src/main/java/io/kafbat/ui/config/ReadOnlyModeFilter.java
  api/src/main/java/io/kafbat/ui/model/InternalBrokerConfig.java
  api/src/main/java/io/kafbat/ui/service/BrokerService.java
  frontend/src/components/Brokers/Broker/Configs/TableComponents/InputCell/InputCellViewMode.tsx
  frontend/src/components/Brokers/Broker/Configs/TableComponents/InputCell/styled.ts
Labels: type/enhancement, scope/frontend, scope/backend, hacktoberfest-accepted, status/triage/completed, area/brokers

#618 Chore: Deps: Bump aws sdk
  api/pom.xml
Labels: scope/backend, type/dependencies, area/auth, status/triage/completed

#593 BE: ACL: Consumers preset now include DESCRIBE permission for CG
  api/src/main/java/io/kafbat/ui/service/acl/AclsService.java
  api/src/test/java/io/kafbat/ui/service/acl/AclsServiceTest.java
Labels: scope/backend, type/bug, hacktoberfest-accepted, area/acl, status/triage/completed

#632 Chore: Update local compose
  .dev/dev_arm64.yaml
  api/src/main/java/io/kafbat/ui/service/rbac/extractor/OauthAuthorityExtractor.java
  documentation/compose/scripts/clusterID
  documentation/compose/scripts/create_cluster_id.sh
  documentation/compose/scripts/update_run.sh
  documentation/compose/scripts/update_run_cluster.sh
Labels: scope/infra, impact/documentation, status/triage/completed
