Repository kafbat/kafka-ui, pull requests merged in 2024-08, with the labels that each got.

#511 BE: KC: Fix connector listing with STOPPED state
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  contract/src/main/resources/swagger/kafka-connect-api.yaml
Labels: scope/backend, type/bug, status/triage/completed, area/connect

#261 BE: Fix KafkaConsumerGroupTests on Windows
  api/src/test/java/io/kafbat/ui/KafkaConsumerGroupTests.java
  api/src/test/java/io/kafbat/ui/service/acl/AclCsvTest.java
  api/src/test/java/io/kafbat/ui/service/acl/AclsServiceTest.java
Labels: scope/backend, type/chore, status/triage/completed

#505 FE: UX: Fix header opacity
  frontend/src/theme/theme.ts
Labels: scope/frontend, type/bug, area/ux, status/triage/manual, status/triage/completed

#519 Infra: Fix e2e compose run
  .github/workflows/e2e-run.yml
Labels: type/bug, scope/infra

#504 BE: Chore: Use dto builders in controller package
  api/src/main/java/io/kafbat/ui/controller/AccessController.java
  api/src/main/java/io/kafbat/ui/controller/KsqlController.java
  api/src/main/java/io/kafbat/ui/controller/TopicsController.java
  api/src/test/java/io/kafbat/ui/emitter/MessageFiltersTest.java
  contract/pom.xml
Labels: scope/backend, type/refactor, status/triage/completed

#513 BE: RBAC: Impl separate permissions for topic analysis
  api/src/main/java/io/kafbat/ui/controller/TopicsController.java
  api/src/main/java/io/kafbat/ui/model/rbac/permission/TopicAction.java
  frontend/src/components/Topics/Topic/Statistics/Metrics.tsx
  frontend/src/components/Topics/Topic/Statistics/Statistics.tsx
  frontend/src/components/Topics/Topic/Topic.tsx
Labels: type/enhancement, scope/frontend, scope/backend, impact/changelog, status/triage/completed
