Repository kafbat/kafka-ui, pull requests merged in 2024-05, with the labels that each got.

#304 Chore/update dependencies versions
  .github/workflows/e2e-run.yml
  e2e-tests/src/main/java/io/kafbat/ui/screens/schemas/SchemaCreateForm.java
  e2e-tests/src/test/java/io/kafbat/ui/smokesuite/schemas/SchemasTest.java
  frontend/.eslintrc.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/KsqlDb/Query/QueryForm/QueryForm.styled.ts
  frontend/src/components/PageContainer/PageContainer.styled.ts
  frontend/src/components/Schemas/Details/LatestVersion/LatestVersionItem.styled.tsx
  frontend/src/components/Topics/Topic/Edit/topicParamsTransformer.ts
  frontend/src/components/Topics/Topic/Messages/Filters/Filters.tsx
  frontend/src/components/Topics/Topic/Messages/Filters/SavedFilters.tsx
  frontend/src/components/Topics/Topic/Messages/Filters/__tests__/AddEditFilterContainer.spec.tsx
  frontend/src/components/Topics/Topic/Messages/__test__/Message.spec.tsx
  frontend/src/components/common/ActionComponent/ActionButton/ActionCanButton/ActionCanButton.tsx
  frontend/src/components/common/ActionComponent/ActionDropDownItem/ActionDropdownItem.tsx
  frontend/src/components/common/ActionComponent/ActionNavLink/ActionNavLink.tsx
  frontend/src/components/common/ActionComponent/ActionSelect/ActionSelect.tsx
  frontend/src/components/common/Icons/IconButtonWrapper.ts
  frontend/src/components/common/Search/Search.tsx
  frontend/src/components/common/heading/Heading.styled.tsx
  frontend/src/components/common/table/TableTitle/TableTitle.styled.tsx
  frontend/src/lib/hooks/useActionTooltip.ts
  frontend/src/lib/hooks/useAppParams.tsx
  frontend/src/lib/hooks/useMessageFiltersStore.ts
  frontend/src/lib/testHelpers.tsx
  frontend/src/lib/yupExtended.ts
  frontend/src/setupTests.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Labels: scope/frontend, type/dependencies, status/triage/manual, status/triage/completed

#330 RBAC: Actions granted for cluster A are mistakenly available for cluster B
  api/src/main/java/io/kafbat/ui/service/rbac/AccessControlService.java
  frontend/src/components/ACLPage/List/List.tsx
Labels: scope/backend, type/bug, area/rbac, status/triage/completed

#334 UX: Topics: Set num of partitions to 1 by default
  frontend/src/components/Topics/shared/Form/TopicForm.tsx
Labels: scope/frontend, type/bug, area/ux, area/topics, status/triage/completed

#336 FE: Bump misc dependencies
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: scope/frontend, type/dependencies, status/triage/completed

#337 Infra: Bump dependencies
  .github/workflows/backend_tests.yml
  .github/workflows/branch-deploy.yml
  .github/workflows/build-public-image.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/cve.yml
  .github/workflows/frontend_tests.yml
  .github/workflows/main.yml
  .github/workflows/release-serde-api.yml
  .github/workflows/release.yml
  .github/workflows/release_drafter.yml
  .github/workflows/separate_env_public_create.yml
Labels: scope/infra, type/dependencies, status/triage/completed

#181 BE: Update development compose file
  .dev/dev_arm64.yaml
  .gitattributes
  documentation/compose/DOCKER_COMPOSE.md
Labels: scope/backend, type/chore, impact/documentation, status/triage/completed

#309 Update codeowners
  .github/CODEOWNERS
  .github/workflows/aws_ami_publish.yml
  .github/workflows/cve_checks.yml
Labels: status/triage/completed

#378 Infra: Ensure image arch automatic inference
  README.md
  api/Dockerfile
Labels: type/enhancement, scope/infra, status/triage/completed

#388 FE: Rename "max size on disk" to "Max partition size"
  frontend/src/components/Topics/shared/Form/TopicForm.tsx
  frontend/src/components/Topics/shared/Form/__tests__/TopicForm.spec.tsx
Labels: scope/frontend, type/chore, status/triage/completed

#386 Docs: Make broker id values unique
  documentation/compose/kafbat-ui.yaml
Labels: type/chore, impact/documentation, status/triage/completed

#350 FE: Clusters with spaces in names are not rendered
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: scope/frontend, type/bug, status/triage/completed

#391 BE: Auth: Support LDAP nested groups
  api/src/main/java/io/kafbat/ui/service/rbac/extractor/RbacLdapAuthoritiesExtractor.java
Labels: type/enhancement, scope/backend, area/auth, status/triage/completed

#236 BE: Increase gh call timeout
  api/src/main/java/io/kafbat/ui/util/GithubReleaseInfo.java
Labels: scope/backend, type/chore, status/triage/completed

#262 Follow symlinks in proto files lookup
  api/src/main/java/io/kafbat/ui/serdes/builtin/ProtobufFileSerde.java
Labels: scope/backend, type/bug, area/serde, status/triage/completed

#395 FE: Fix white dot on the "Key Serde" dropdown
  frontend/src/components/common/Select/Select.styled.ts
Labels: scope/frontend, type/chore, area/ux, status/triage/completed

#405 BE: Add Restarting connector state enum
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
  contract/src/main/resources/swagger/kafka-connect-api.yaml
Labels: scope/backend, type/bug

#413 FE: Update pnpm version
  .github/workflows/frontend_tests.yml
  frontend/README.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  pom.xml
Labels: scope/frontend, type/chore, status/triage/completed

#406 BE: Messages: Fix first offsets retrieval for compacted topic
  api/src/main/java/io/kafbat/ui/emitter/OffsetsInfo.java
  api/src/main/java/io/kafbat/ui/emitter/RangePollingEmitter.java
Labels: scope/backend, type/bug, area/messages, status/triage/completed

#415 FE: RBAC: Fix connector permissions checks
  frontend/src/components/Connect/Details/Actions/Actions.tsx
  frontend/src/components/Connect/Details/Tasks/ActionsCellTasks.tsx
  frontend/src/components/Connect/List/ActionsCell.tsx
Labels: scope/frontend, type/bug, area/rbac, status/triage/completed

#278 BE: RBAC: Wizard: Fix enums mapping
  api/src/main/java/io/kafbat/ui/controller/ApplicationConfigController.java
  api/src/main/java/io/kafbat/ui/model/rbac/Permission.java
  contract/src/main/resources/swagger/kafbat-ui-api.yaml
Labels: scope/backend, type/bug, status/triage/completed

#417 FE: Messages: Fix refresh does pagination instead
  frontend/src/components/Topics/Topic/Messages/MessagesTable.tsx
  frontend/src/components/Topics/Topic/Messages/__test__/MessagesTable.spec.tsx
  frontend/src/lib/hooks/api/topicMessages.tsx
  frontend/src/lib/hooks/useMessagesFilters.ts
Labels: scope/frontend, type/bug, area/messages, status/triage/completed

#425 FE: ACL: Fix Idempotent_write ACL is not created
  frontend/src/components/ACLPage/Form/ForProducers/lib.ts
  frontend/src/components/ACLPage/Form/ForProducers/types.ts
Labels: scope/frontend, type/bug, area/acl, status/triage/completed

#399 FE: Wizard: Fix sections collapsing
  frontend/src/widgets/ClusterConfigForm/Sections/Authentication/Authentication.tsx
  frontend/src/widgets/ClusterConfigForm/Sections/KSQL.tsx
  frontend/src/widgets/ClusterConfigForm/Sections/KafkaCluster.tsx
  frontend/src/widgets/ClusterConfigForm/Sections/Metrics.tsx
  frontend/src/widgets/ClusterConfigForm/Sections/SchemaRegistry.tsx
  frontend/src/widgets/ClusterConfigForm/types.ts
  frontend/src/widgets/ClusterConfigForm/utils/transformFormDataToPayload.ts
Labels: scope/frontend, type/bug, area/wizard, status/triage/completed
