Repository kafbat/kafka-ui, pull requests merged in 2025-06, with the labels that each got.

#1120 multiple cluster menu selected item fix
  frontend/src/components/Nav/ClusterMenu/ClusterMenu.tsx
  frontend/src/components/Nav/Nav.styled.ts
Labels: scope/frontend, type/bug, area/ux, status/triage/completed

#1122 BE: Patch CVEs
  api/build.gradle
  gradle/libs.versions.toml
Labels: scope/backend, type/security, status/triage/completed

#1123 BE: Exclude offline nodes from target calculation when adjusting the replication factor
  api/src/main/java/io/kafbat/ui/service/TopicsService.java
Labels: scope/backend, type/bug, area/topics, status/triage/completed

#1144 FE: Support `awsRoleArn` when using IAM Auth
  frontend/src/widgets/ClusterConfigForm/Sections/Authentication/AuthenticationMethods.tsx
  frontend/src/widgets/ClusterConfigForm/schema.ts
  frontend/src/widgets/ClusterConfigForm/utils/transformFormDataToPayload.ts
Labels: type/enhancement, scope/frontend, area/wizard, status/triage/completed

#1145 Issue_528_style_table_column_width
  frontend/src/components/ACLPage/List/List.tsx
  frontend/src/components/Brokers/BrokersList/lib/utils.ts
  frontend/src/components/Connect/List/List.tsx
  frontend/src/components/ConsumerGroups/List.tsx
  frontend/src/components/Dashboard/ClusterName.tsx
  frontend/src/components/Dashboard/Dashboard.tsx
  frontend/src/components/KsqlDb/TableView.tsx
  frontend/src/components/NavBar/NavBar.styled.ts
  frontend/src/components/Schemas/List/List.tsx
  frontend/src/components/Topics/List/TopicTable.tsx
  frontend/src/components/Topics/List/TopicTitleCell.tsx
  frontend/src/components/common/NewTable/BreakableTextCell.tsx
  frontend/src/components/common/NewTable/LinkCell.tsx
  frontend/src/theme/theme.ts
Labels: status/triage/manual, status/triage/completed
