Repository kafbat/kafka-ui, pull requests merged in 2025-01, with the labels that each got.

#219 Infra: Discord hook for failed CVE runs
  .github/workflows/cve_checks.yml
  .github/workflows/infra_discord_hook.yml
Labels: scope/infra, hacktoberfest-accepted, status/triage/completed

#720 FE: Consumers: Fix lag is displayed as 'N/A' in case of null value
  frontend/src/components/ConsumerGroups/List.tsx
  frontend/src/components/ConsumerGroups/__test__/List.spec.tsx
Labels: scope/frontend, type/bug, area/consumers, status/triage/completed

#685 BE: Serde: Fix avro schema serde for nullable enums
  api/src/main/java/io/kafbat/ui/util/jsonschema/AvroJsonSchemaConverter.java
  api/src/test/java/io/kafbat/ui/util/jsonschema/AvroJsonSchemaConverterTest.java
  api/src/test/java/io/kafbat/ui/util/jsonschema/JsonAvroConversionTest.java
Labels: scope/backend, type/bug, area/serde, status/triage/completed

#749 FE: Deps: Bump transitive axios
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: scope/frontend, type/dependencies, status/triage/completed

#755 UX: SR: Adjust subjects name list max width
  frontend/src/components/common/NewTable/Table.styled.ts
Labels: scope/frontend, type/chore, area/ux, status/triage/completed

#758 BE: Auth: Fix startup error on missing index
  api/src/main/java/io/kafbat/ui/util/StaticFileWebFilter.java
Labels: scope/backend, type/bug, area/auth, status/triage/completed

#747 Infra: FE: Enforce pnpm using a range
  frontend/package.json
Labels: scope/frontend, type/dependencies, status/triage/completed

#772 Docs: Update confluent version in the examples
  documentation/compose/auth-context.yaml
  documentation/compose/cluster-sr-auth.yaml
  documentation/compose/kafbat-ui.yaml
  documentation/compose/kafka-ssl-components.yaml
  documentation/compose/kafka-ssl.yml
  documentation/compose/kafka-zookeeper.yaml
  documentation/compose/ui-acl-with-zk.yaml
  documentation/compose/ui-connectors-auth.yaml
  documentation/compose/ui-jmx-secured.yml
  documentation/compose/ui-ldap.yaml
  documentation/compose/ui-sasl.yaml
  documentation/compose/ui-serdes.yaml
  documentation/compose/ui-with-jmx-exporter.yaml
Labels: type/chore, status/triage/completed

#763 BE: Chore: Cleanup model package
  api/src/main/java/io/kafbat/ui/model/BrokerMetrics.java
  api/src/main/java/io/kafbat/ui/model/CleanupPolicy.java
  api/src/main/java/io/kafbat/ui/model/InternalBrokerConfig.java
  api/src/main/java/io/kafbat/ui/model/InternalClusterMetrics.java
  api/src/main/java/io/kafbat/ui/model/InternalClusterState.java
  api/src/main/java/io/kafbat/ui/model/InternalPartition.java
  api/src/main/java/io/kafbat/ui/model/InternalPartitionsOffsets.java
  api/src/main/java/io/kafbat/ui/model/InternalSegmentSizeDto.java
  api/src/main/java/io/kafbat/ui/model/InternalTopic.java
  api/src/main/java/io/kafbat/ui/model/InternalTopicConfig.java
  api/src/main/java/io/kafbat/ui/model/Metrics.java
  api/src/main/java/io/kafbat/ui/model/Statistics.java
  api/src/main/java/io/kafbat/ui/model/schemaregistry/ErrorResponse.java
  api/src/main/java/io/kafbat/ui/model/schemaregistry/InternalCompatibilityCheck.java
  api/src/main/java/io/kafbat/ui/model/schemaregistry/InternalCompatibilityLevel.java
  api/src/main/java/io/kafbat/ui/model/schemaregistry/InternalNewSchema.java
  api/src/main/java/io/kafbat/ui/model/schemaregistry/SubjectIdResponse.java
Labels: scope/backend, type/refactor, status/triage/completed

#748 Infra: FE: migrate to node 22
  .github/workflows/frontend_tests.yml
  frontend/.nvmrc
  frontend/package.json
  pom.xml
Labels: scope/frontend, scope/infra, type/dependencies, status/triage/completed

#771 Docs: Remove references to arm-specific local setup
  .dev/dev.yaml
  documentation/compose/DOCKER_COMPOSE.md
Labels: type/chore, status/triage/completed

#779 LDAP: Fix property nullability condition
  api/src/main/java/io/kafbat/ui/config/auth/LdapSecurityConfig.java
Labels: scope/backend, type/bug, area/auth, status/triage/completed

#745 Infra: Run cve checks workflow on pull requests and pushes to main
  .github/workflows/cve_checks.yml
Labels: type/enhancement, scope/infra, status/triage/completed

#777 Infra: FE: limit pnpm and node version enforcement to the major versions
  frontend/package.json
Labels: scope/frontend, type/dependencies, status/triage/completed

#719 BE: RBAC: Subject type/value is unintended to be optional
  api/src/main/java/io/kafbat/ui/model/rbac/Role.java
  api/src/main/java/io/kafbat/ui/model/rbac/Subject.java
Labels: scope/backend, type/bug, area/rbac, status/triage/completed

#229 BE: Dynamic config file checks adjustments
  api/src/main/java/io/kafbat/ui/util/DynamicConfigOperations.java
Labels: scope/backend, type/chore, hacktoberfest-accepted, status/triage/completed

#776 Infra: FE: Bump pnpm to 9.15.4
  .github/workflows/frontend_tests.yml
  pom.xml
Labels: scope/frontend, type/dependencies, status/triage/completed

#794 Infra: Adjust publish action for AWS ECR
  .github/workflows/docker_publish.yml
Labels: scope/infra, status/triage/completed

#811 SR: Fix config path
  contract/src/main/resources/swagger/kafka-sr-api.yaml
  e2e-tests/src/test/java/io/kafbat/ui/smokesuite/brokers/BrokersTest.java
Labels: scope/backend, type/bug, area/sr, status/triage/completed
